.rowSelected {
  cursor: pointer;
  background: var(--ps-c-green-light-1) !important;
  color: var(--ps-c-black);
}

// TODO this uses the same ui as FileList, maybe we should refactor into a table component?
.table {
  tbody tr:not(.rowSelected) {
    &:hover {
      cursor: pointer;
      color: var(--ps-c-init-white);
      background: var(--ps-c-gray-light-7);
    }
  }
}
