.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search {
  background: var(--ps-immutable-5);
  transition: background-color ease-out 0.1s;
  font: inherit;
  margin-right: 8px;
  border: 1px solid var(--ps-neutral-10);

  &,
  &::placeholder {
    color: var(--ps-immutable-4) !important;
  }
}

.searchWithSync {
  @extend .search;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid var(--ps-neutral-10);
  margin-right: 0;
}

.search-synced {
  @extend .search;

  border-color: var(--ps-immutable-2);
}

.search:focus {
  background: var(--ps-immutable-3);
}

.search-small {
  width: 100px;
}

.icon {
  cursor: pointer;

  & path {
    fill: var(--ps-neutral-10);
  }
}

.checked {
  @extend .icon;

  path {
    fill: var(--ps-immutable-2);
  }
}

.sync {
  border: none;
  background-color: var(--ps-immutable-1);
  cursor: pointer;
  height: 100%;
  width: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid var(--ps-neutral-10);
  position: relative;
  border-left: none;

  &:hover {
    .tooltip {
      display: block;
    }
  }
}

.syncSelected {
  @extend .sync;

  border-top-color: var(--ps-immutable-2);
  border-right-color: var(--ps-immutable-2);
  border-bottom-color: var(--ps-immutable-2);
}
