$buttonHeight: 37px;

.navbar {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: space-between;

  .left,
  .right {
    width: calc(50% - 8px);

    &.merged:not(.widthAuto) {
      width: 50%;
    }
  }
}

.left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 47px;
  background-color: #2e2e32;
  border: 1px solid var(--ps-ui-border);
  padding: 4px;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-content: flex-start;

  &.merged {
    border-right-width: 0;
  }

  &.widthAuto {
    width: auto;
    border-right-width: 0;
  }
}

.right {
  @extend .left;

  justify-content: flex-end;

  &.merged {
    border-left-width: 0;
  }

  &.widthAuto {
    flex: 1;
    border-left-width: 0;
  }
}

.viewType {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar button {
  color: var(--ps-neutral-2);
}

.toggleViewButton {
  height: $buttonHeight;
  margin: 0 2px;
  padding: 0;
  border-color: transparent;
  background-color: transparent;

  &.selected {
    background-color: #3c7150;

    &:hover {
      background-color: #3c7150;
    }

    svg {
      fill: #61c688;
      color: #61c688;
    }
  }
}

.viewModeDropdownButton {
  min-width: 114px;
  margin-right: 0;
}

.diffTypesButton {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: 22px;
    width: 22px !important;
  }
}

.diffDropdownButton {
  text-transform: capitalize;
  margin-left: 1.5px;
}

.fitModeButton {
  @extend .toggleViewButton;
}

.collapseNodeButton {
  height: $buttonHeight;
  margin: 0 2px;
  padding: 0 5px;
  background-color: transparent;
  border-color: transparent;
}

.resetViewButton {
  @extend .collapseNodeButton;
}

.dropdownMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.fitModeDropdownSmall {
  min-width: 70px;
  margin: 0;
  height: $buttonHeight;
}

.fitModeDropdownLarge {
  min-width: 100px;
  margin: 0;
}

.divider {
  width: 1px;
  height: 35px;
  background-color: #646466;
  margin: 0 2px;
}
