$buttonHeight: 37px;

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: space-between;
  height: 47px;
  background-color: var(--ps-fl-toolbar-bg);
  border: 1px solid var(--ps-ui-border);
  padding: 4px;
  align-items: center;
}

.viewType {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar button {
  color: var(--ps-toolbar-icon-color);
}

.divider {
  width: 1px;
  margin: 0 4px;
  height: $buttonHeight;
  background-color: var(--ps-ui-border);
}

.itemsContainer,
.item {
  display: flex;
  align-items: center;
}

.navbarCollapsedItems {
  display: flex;
  position: absolute;
  right: 0;
  top: 50px;
  height: 47px;
  background-color: var(--ps-fl-toolbar-bg);
  border: 1px solid var(--ps-ui-border);
  padding: 4px;
  z-index: 1;
}
