.navbar {
  display: flex;
  margin: 10px 0;
  height: 40px;
  align-items: center;
}

/* Give same amount of space between all children */
.navbar > *:not(:first-child) {
  margin-left: 5px;
  margin-right: 5px;
}

.space-filler {
  flex-grow: 1;
}

.fitModeDropdownMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.fit-mode-dropdown-small {
  min-width: 70px;
}

.fit-mode-dropdown-large {
  min-width: 100px;
}
