.popup {
  background-color: var(--ps-neutral-4);
}

.popup label {
  color: var(--ps-neutral-2);
}

.popup button.button:focus {
  box-shadow: none;
}

.title {
  color: var(--ps-neutral-2);
}

.input {
  outline: none;
  color: var(--ps-neutral-2);
  background-color: var(--ps-neutral-5);
  border: 1px solid var(--ps-neutral-6);
  border-radius: 4px;
}

.input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--ps-neutral-6);
}

.validationMessage {
  color: var(--ps-neutral-2);
  font-weight: bold;
  background-color: var(--ps-accent-3-1);
}
