blinker==1.9.0
cffi==2.0.0
click==8.4.1
Flask==3.1.3
googleapis-common-protos==1.75.0
grpcio==1.81.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
opentelemetry-api==1.42.1
opentelemetry-exporter-otlp-proto-common==1.42.1
opentelemetry-exporter-otlp-proto-grpc==1.42.1
opentelemetry-instrumentation==0.63b1
opentelemetry-instrumentation-flask==0.63b1
opentelemetry-instrumentation-wsgi==0.63b1
opentelemetry-proto==1.42.1
opentelemetry-sdk==1.42.1
opentelemetry-semantic-conventions==0.63b1
opentelemetry-util-http==0.63b1
packaging==26.2
protobuf==6.33.6
pycparser==3.0
pyroscope-io==1.0.11
pyroscope-otel==1.0.1
typing_extensions==4.15.0
Werkzeug==3.1.8
wrapt==2.2.1
