.searchContainer {
  display: flex;
  flex-direction: column;
}

.searchContainer button {
  padding: 5px 20px;
}

.usersTable {
  margin: 20px 0;
  width: 100%;
}

.usersTableEmptyMessage {
  text-align: center;
  color: var(--ps-neutral-19);
}

.actionContainer {
  margin: 10px 0px;
}
