.searchContainer {
  display: flex;
}

.searchContainer input {
  flex: 1;
  margin-right: 20px;
}

.searchContainer button {
  padding: 5px 20px;
}

.usersTable {
  margin: 20px 0;
  width: 100%;
}

.usersTableEmptyMessage {
  text-align: center;
  color: var(--ps-c-white-dark-1);
}

.actionContainer {
  margin: 10px 0px;
}
