.disabled td {
  text-decoration: line-through;
}

.role {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.actions button {
  margin: 5px;
}
