{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": ["airbnb", "prettier"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-unused-vars": ["warn"],
    "prettier/prettier": ["error"]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
