{
  "plugins": ["prettier", "css-modules"],
  "extends": [
    "airbnb-typescript-prettier",
    "plugin:cypress/recommended",
    "plugin:import/typescript",
    "prettier",
    "prettier/react",
    "plugin:css-modules/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-shadow": "warn",
    "@typescript-eslint/no-use-before-define": "warn",
    "@typescript-eslint/naming-convention": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-var-requires": "warn",
    "react-hooks/exhaustive-deps": "warn",

    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-param-reassign": ["warn"],
    "no-case-declarations": ["warn"],
    "no-use-before-define": ["warn"],
    "no-restricted-globals": ["warn"],
    "react/button-has-type": ["warn"],
    "react/prop-types": ["off"],
    "jsx-a11y/heading-has-content": ["warn"],
    "jsx-a11y/control-has-associated-label": ["warn"],
    "no-undef": ["warn"],
    "jsx-a11y/mouse-events-have-key-events": ["warn"],
    "jsx-a11y/click-events-have-key-events": ["warn"],
    "jsx-a11y/no-static-element-interactions": ["warn"],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "spaced-comment": [2, "always", { "exceptions": ["*"] }],
    "react/require-default-props": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "scripts/webpack/webpack.common.ts"
      }
    }
  }
}
