public/build/**
scripts/**
pkg/api/static/**
**/dist
.eslintrc.js
jest.config.js
cypress/**
cypress.config.ts
testSetupFile.js
og/**
examples/**
public/app/util/**
**.spec.ts*
svg-transform.js
setupAfterEnv.ts
globalSetup.js
globalTeardown.js
jest-css-modules-transform-config.js
cmd/profilecli/**
tools/k6/**
