# Binaries for programs and plugins
bin
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/cmd/fire/data
/data/
go.work
go.work.sum
.DS_Store

node_modules

# Yarn
**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
.pnp.*


**/dist

.idea
