# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# area/read-path
/pkg/experiment/query_backend/ @marcsanmi @aleks-p
/pkg/experiment/symbolizer/ @marcsanmi
/pkg/storegateway/ @aleks-p
/pkg/scheduler/
/pkg/phlaredb/symdb/ @simonswine
/pkg/phlaredb/tsdb/ @simonswine
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi
/pkg/experiment/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p
/pkg/experiment/distributor/
/pkg/experiment/ingester/
/pkg/og/convert/
/pkg/pprof/
/pkg/model/relabel/
/pkg/model/
/pkg/model/pprof_split/
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi
/pkg/ingester/
/pkg/phlaredb/shipper/

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/experiment/compactor/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/experiment/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
