.navbar {
  display: flex;
  margin: 10px 0;
  height: 40px;
  align-items: center;
}

/* Give same amount of space between all children */
.navbar > *:not(:first-child) {
  margin-left: 5px;
  margin-right: 5px;

  &.fit-mode-select {
    min-width: 65px;
  }
}

.space-filler {
  flex-grow: 1;
}
