$svg-side-margin: 40px;

.heatmapContainer {
  position: relative;
  width: calc(100% - $svg-side-margin * 2);
  margin: auto auto $svg-side-margin auto;

  .heatmapSvg {
    width: 100%;
    background-color: var(--ps-immutable-white);
    cursor: crosshair;

    .selectionContainer {
      width: 100%;
    }
  }

  .yAxis {
    left: -40px;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .xAxis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .tick {
    font-size: 12px;
    text-align: center;

    &.yTick {
      text-align: right;
    }
  }

  .selectedAreaBlock {
    cursor: crosshair;
    position: absolute;
    border: 2px solid;
  }

  .bucketsColors {
    margin-top: 45px;

    .color {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 3px;
    }
  }
}
