.flamegraph-legend {
  display: flex;
  align-items: center;
  font-size: 11px;
  justify-content: center;
}

.flamegraph-legend-list {
  display: flex;
  justify-content: center;
}

.flamegraph-legend-item {
  width: 37px;
  text-align: center;

  /* if for some reason the contents can't fit 
   * don't break into 2 lines */
  white-space: nowrap;
  overflow: hidden;
}
