@use '../variables' as *;

@import '../prism.scss';

.tags-bar {
  display: flex;
  align-items: flex-start;
  padding: 5px 0 15px;
}

// TODO: DRY This from SharedQueryInput.module.scss and NameSelector.module.scss
.search {
  background: var(--ps-immutable-off-white);
  transition: background-color ease-out 0.1s;
  font: inherit;
  margin-right: 8px;
  border: 1px solid var(--ps-ui-border);
  width: 300px;

  &,
  &::placeholder {
    color: var(--ps-immutable-placeholder-text) !important;
  }
}
