.box {
  background-color: var(--ps-ui-foreground);
  border: 1px solid var(--ps-border-color);
  border-radius: 4px;

  //  display: inline-block;
}

.padding {
  margin-bottom: 10px;
  padding: 10px;
}
