$border: 1px solid var(--ps-border-color);
$border-radius: 4px;

.button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border: $border;
  border-radius: $border-radius;

  &[type='button'],
  &[type='reset'],
  &[type='submit'] {
    -webkit-appearance: button;
  }

  /* when we have an icon only button */
  //min-width: 48px;
}

.iconWithText {
  // icon is on the left
  // some space between the icon and text
  margin-right: 5px;
}

.default {
  background: var(--ps-neutral-5);

  &:hover:not(:disabled) {
    background-color: var(--ps-neutral-7);
  }

  &:disabled {
    color: var(--ps-neutral-6);
    pointer-events: none;
  }
}

.primary {
  border: none;
  color: var(--ps-neutral-5) !important;
  background-color: var(--ps-green-primary);

  &:hover {
    background-color: var(--ps-green-highlight);
  }
  &:disabled {
    background-color: var(--ps-green-disabled);
    pointer-events: none;
  }
}

.secondary {
  border: none;
  color: var(--ps-immutable-1);
  background-color: var(--ps-blue-primary);

  &:hover {
    background-color: var(--ps-blue-highlight);
  }
  &:disabled {
    background-color: var(--ps-blue-disabled);
    pointer-events: none;
  }
}

.danger {
  border: none;
  color: var(--ps-neutral-2);
  background-color: var(--ps-red-primary);
  &:hover {
    background-color: var(--ps-red-highlight);
  }
  &:disabled {
    background-color: var(--ps-red-disabled);
    pointer-events: none;
  }
}

// only the first and last elements should have styling
.grouped {
  margin: 0;
  border-right: 0;
  border-radius: 0;

  // give it a bit more room to breath
  padding-left: 12px;
  padding-right: 12px;
}
.grouped:first-child {
  border-left: $border;

  border-radius: $border-radius 0 0 $border-radius;
}
.grouped:last-child {
  border-right: $border;

  border-radius: 0 $border-radius $border-radius 0;
}
