$border: 1px solid var(--ps-neutral-10);
$border-radius: 4px;

.button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border: $border;
  border-radius: $border-radius;

  &[type='button'],
  &[type='reset'],
  &[type='submit'] {
    -webkit-appearance: button;
  }

  /* when we have an icon only button */
  //min-width: 48px;
}

.iconWithText {
  // icon is on the left
  // some space between the icon and text
  margin-right: 5px;
}

.default {
  background: var(--ps-neutral-9);

  &:hover:not(:disabled) {
    background-color: var(--ps-neutral-12);
  }

  &:disabled {
    color: var(--ps-neutral-16);
    pointer-events: none;
  }
}

.primary {
  color: var(--ps-neutral-13) !important;
  background-color: var(--ps-accent-2-1);
  border-left-color: var(--ps-accent-2-1);
  border-right-color: var(--ps-accent-2-1);
  border-top-color: var(--ps-accent-2-1);
  border-bottom-color: var(--ps-accent-2-1);

  &:hover {
    background-color: var(--ps-accent-2-2);
  }
  &:disabled {
    border-color: var(--ps-accent-2-4);
    background-color: var(--ps-accent-2-4);
    pointer-events: none;
  }
}

.secondary {
  background-color: var(--ps-accent-1-3);
  border-left-color: var(--ps-accent-1-3);
  border-right-color: var(--ps-accent-1-3);
  border-top-color: var(--ps-accent-1-3);
  border-bottom-color: var(--ps-accent-1-3);

  &:hover {
    background-color: var(--ps-accent-1-4);
  }
  &:disabled {
    border-color: var(--ps-accent-1-6);
    background-color: var(--ps-accent-1-6);
    pointer-events: none;
  }
}

.danger {
  color: var(--ps-neutral-2);
  background-color: var(--ps-accent-3-2);
  border-left-color: var(--ps-accent-3-2);
  border-right-color: var(--ps-accent-3-2);
  border-top-color: var(--ps-accent-3-2);
  border-bottom-color: var(--ps-accent-3-2);

  &:hover {
    background-color: var(--ps-accent-3-3);
  }
  &:disabled {
    border-color: var(--ps-accent-3-4);
    background-color: var(--ps-accent-3-4);
    pointer-events: none;
  }
}

// only the first and last elements should have styling
.grouped {
  margin: 0;
  border-right: 0;
  border-radius: 0;

  // give it a bit more room to breath
  padding-left: 12px;
  padding-right: 12px;
}
.grouped:first-child {
  border-left: $border;

  border-radius: $border-radius 0 0 $border-radius;
}
.grouped:last-child {
  border-right: $border;

  border-radius: 0 $border-radius $border-radius 0;
}
