@import '@szhsin/react-menu/dist/index.css';

.dropdownMenu {
  box-shadow: 0 2px 5px var(--ps-c-black-light-2);
  padding: 0.25rem 0;
  background-color: var(--ps-c-gray-light-2) !important;
  color: var(--ps-c-init-white) !important;

  & ul[class*='rc-menu'] {
    background-color: var(--ps-c-gray-light-2);
    color: var(--ps-c-init-white) !important;
  }

  & li[class*='hover'],
  div[class*='hover'] {
    background-color: var(--ps-c-gray-light-7);
  }

  [class*='rc-menu--open']:empty {
    display: none;
  }

  [class*='rc-menu__item active'] {
    background-color: var(--ps-c-gray-light-7);
    color: var(--ps-c-orange-dark-3);
  }

  [class*='rc-menu__item--focusable'] {
    // important to ignore the hover effect
    background-color: inherit !important;
    padding-top: 1rem;
    padding-bottom: 1rem;

    input {
      width: 100%;
    }
  }
}

.dropdownMenuButton {
  outline: none;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  background-color: var(--ps-c-gray-light-2);
  border: 1px solid var(--ps-c-gray-light-3);
  margin-right: 5px;
  padding-right: 20px;
  &::after {
    content: '▾';
    position: absolute;
    top: 3px;
    right: 5px;
  }

  &:hover {
    cursor: pointer;
  }
}
