@use '../../sass/variables.scss' as *;

@import '@szhsin/react-menu/dist/index.css';

.dropdownMenu {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.33);
  padding: 0.25rem 0;
  background-color: $btn-color !important;
  color: $white !important;

  & ul[class*='rc-menu'] {
    background-color: $btn-color;
    color: $white !important;
  }

  & li[class*='hover'],
  div[class*='hover'] {
    background-color: $btn-hover-color;
  }

  [class*='rc-menu--open']:empty {
    display: none;
  }

  [class*='rc-menu__item active'] {
    background-color: $btn-hover-color;
    color: rgb(223, 139, 83);
  }

  [class*='rc-menu__item--focusable'] {
    // important to ignore the hover effect
    background-color: inherit !important;
    padding-top: 1rem;
    padding-bottom: 1rem;

    input {
      width: 100%;
    }
  }
}

.dropdownMenuButton {
  outline: none;
  display: flex;
  flex-shrink: 0;
  position: relative;
  border-radius: 4px;
  background-color: $btn-color;
  border: 1px solid $btn-border-color;
  margin-right: 5px;
  padding-right: 20px;
  &::after {
    content: '▾';
    position: absolute;
    top: 3px;
    right: 5px;
  }

  &:hover {
    cursor: pointer;
  }
}
