@import '@szhsin/react-menu/dist/index.css';

.dropdownMenu {
  padding: 0.25rem 0;
  box-shadow: 0px 2px 6px var(--ps-dropdown-shadow) !important;
  background-color: var(--ps-dropdown-background) !important;
  color: var(--ps-neutral-2) !important;

  & ul[class*='szh-menu'] {
    color: var(--ps-neutral-2) !important;
    background-color: var(--ps-dropdown-background) !important;
  }

  li[class='szh-menu__header'] {
    text-align: left;
  }

  & li[class*='hover'],
  div[class*='hover'] {
    background-color: var(--ps-ui-element-bg-highlight);
  }

  [class*='szh-menu--open']:empty {
    display: none;
  }

  [class*='szh-menu__item active'] {
    background-color: var(--ps-ui-element-bg-highlight);
    color: var(--ps-selected-app);
  }

  [class*='szh-menu__item--focusable'] {
    // important to ignore the hover effect
    background-color: inherit !important;
    padding-top: 1rem;
    padding-bottom: 1rem;

    input {
      width: 100%;
    }
  }
}

.dropdownMenuButton {
  outline: none;
  display: flex;
  flex-shrink: 0;
  position: relative;
  border-radius: 4px;
  background-color: var(--ps-ui-element-bg-primary);
  border: 1px solid var(--ps-ui-border);
  margin-right: 5px;
  padding-right: 20px;
  &::after {
    content: '▾';
    position: absolute;
    top: 3px;
    right: 5px;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--ps-ui-element-bg-highlight);
  }
}
