.loadingOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;

  /* ignore all pointer events */
  pointer-events: all;
  zindex: 99;
}

.withBlurOverlay {
  backdrop-filter: blur(2px);
}

.withDarkoverlay {
  background: rgba(0, 0, 0, 0.7);
}
