.loadingOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;

  /* ignore all pointer events */
  pointer-events: all;
  z-index: 99;

  /*opacity: 1;*/
  /* Use a progress indicator for any action that takes longer than about 1.0 second. */
  /* https://www.nngroup.com/articles/progress-indicators */
  transition: all 0.5s ease-in-out;
}

.unactive {
  opacity: 0;
  background: initial;
  visibility: hidden;
}

.withBlurOverlay {
  backdrop-filter: blur(2px);
}

.withDarkoverlay {
  background: rgba(0, 0, 0, 0.7);
}
