@use '../../sass/mixins/outline' as *;

.select {
  @include outline;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  background-color: var(--ps-c-gray-light-2);
  border: 1px solid var(--ps-c-gray-light-3);
  -moz-appearance: none;
  -webkit-appearance: none;
  background: no-repeat right center / 1em;

  &:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' fill='white' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
  }
}
