// Unfortunately the lib uses SASS directly
// So we can't use css modules
$sidebar-bg-color: #212124;
$submenu-bg-color: transparent;
$sidebar-color: rgba(255, 255, 255, 0.66);
$submenu-bg-color-collapsed: #212124;

@import '~react-pro-sidebar/dist/scss/styles.scss';

// Disable the wobble effect
// https://github.com/azouaoui-med/react-pro-sidebar/issues/20#issuecomment-714750330
.pro-sidebar
  .pro-menu
  .pro-menu-item
  > .pro-inner-item:hover
  .pro-icon-wrapper
  .pro-icon {
  animation: none;
}

// Swap margin and padding
// To make the background not weird
.pro-sidebar .pro-menu .pro-menu-item.open .pro-menu-item {
  margin-right: 30px;
  padding-right: 0;
}

// Active and hover
.pro-sidebar .pro-menu .pro-menu-item.active,
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover {
  background: #333;
  color: #fff;
}

// for some reason it was inheriting a different background
.pro-sidebar
  .pro-menu.shaped
  .pro-menu-item
  > .pro-inner-item
  > .pro-icon-wrapper {
  background: transparent;
}

.pro-sidebar .pro-menu .pro-menu-item {
  font-size: 16px;
}

// nested menu
// since we are not setting a background color
// the extra padding doesn't look good
.pro-sidebar .pro-menu ul ul {
  padding: 0px !important;
}

// when it's minimized
.pro-sidebar .pro-menu .popper-inner {
  padding-left: 0 !important;
}
.pro-sidebar .pro-menu .popper-inner .pro-inner-item {
  padding-left: 20px !important;
}
