.diffPaletteDropdown {
}

.diffPaletteDropdown > div {
  margin-bottom: 0px;
}

.diffPaletteDropdown::after {
  top: 0px;
}

.dropdownItem {
  display: flex;
}

.dropdownItem svg {
  margin-left: 1em;
}
