.diffPaletteDropdown {
  max-width: 510px;
  min-width: 292px;
  width: inherit;
}

.dropdownWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.diffPaletteDropdown > div {
  margin-bottom: 0px;
  display: flex;
}

.diffPaletteDropdown::after {
  top: 0px;
}

.dropdownItem {
  width: 100%;
  display: flex;
}

.diffPaletteDropdown ::global(.rc-menu-item) {
  display: flex;
}

.dropdownItem svg {
  margin-left: 1em;
}
