.flamegraphTooltip {
  max-width: 80%;

  position: fixed;
  background: #ffffff;
  white-space: nowrap;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 3px 5px;
  color: #333;
  font-size: 12px;
  visibility: hidden;
  z-index: 1;
}

.flamegraphTooltipName {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
