.table {
  width: 100%;
  font-size: 14px;
  border: 1px solid var(--ps-ui-border);

  th,
  td {
    text-align: right;
    padding: 0px 10px;

    border-left: 1px solid var(--ps-ui-border);
    border-bottom: 1px solid var(--ps-ui-border);
    width: 150px;
    min-width: 150px;
    max-width: 150px;

    &.sortable {
      cursor: pointer;
      user-select: none;
    }

    .sort-arrow {
      display: inline-block;
      border: 5px solid transparent;
      border-top-color: var(--ps-ui-foreground-text);
      top: 3px;
      position: relative;
      margin-left: 7px;

      &.asc {
        border-top-color: transparent;
        border-bottom-color: var(--ps-button-switch-bg-highlight);
        top: -2px;
      }

      &.desc {
        border-top-color: var(--ps-button-switch-bg-highlight);
        top: 3px;
      }
    }

    span {
      text-shadow: 0 0 1px var(--ps-table-row-text-shadow);
    }

    &:first-child {
      border-left: none;
      text-align: left;

      width: auto;
      min-width: auto;
      max-width: auto;

      white-space: nowrap;
    }

    &:first-child .color-reference {
      position: absolute;
      left: 10px;
      bottom: 0;
      top: 0;
      margin: auto;
    }
  }

  .symbol-name {
    font-size: 14px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  }

  th {
    padding: 6px 10px;
  }
  tr th,
  tr:nth-child(2n) td {
    background: var(--ps-neutral-9);
  }

  td {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

    &:first-child {
      margin-left: 15px;
      position: relative;
    }

    // element right next the color reference
    &:first-child .color-reference + div {
      margin-left: 15px;
    }

    .table-item-button {
      border: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
      width: 100%;
      cursor: pointer;
      background-color: transparent;
    }
  }
}
