.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  box-shadow: 0px 16px 16px -16px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #222;

  max-width: 500px;
}

.header {
  padding: 15px 20px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
}

.body {
  padding: 15px 20px 10px;
}

.footer {
  padding: 15px 20px 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
}

.closeButton {
  border: none;
  padding: 0;
  width: 34px;
  height: 34px;
  cursor: pointer;
  position: relative;
}

.closeButton::after {
  /* useful to visualize hit area: */
  /* background-color: red; */
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 1.5em;
  position: absolute;
  content: '\00d7';
  top: -4px;
  right: -10px;
}

.modalContent {
  padding: 0 20px 20px;
}

.backdrop {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
}
