@use 'sass:math';
@use 'variables' as *;

@import '~sanitize.css';
@import './variables.css';

.flamegraph-root {
  @import 'common';

  button,
  select {
    color: inherit;
    font: inherit;
    padding: 0.25em 0.375em;
  }

  ::-ms-expand {
    display: none;
  }

  background-color: var(--ps-c-gray-dark-1);
  color: var(--ps-c-white);
  -webkit-font-smoothing: antialiased;
  font: 400 16px/1.7 -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
