@use "variables" as *;
@use "mixins/outline" as *;
@use "components/drp";
@use "components/labels";

@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';

body {
  font: 300 16px/1.7 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background-color: $bg-color;
  color: white;
}


.navbar {
  display: flex;
  padding: 0 15px 0 12px;
  height: 60px;
  align-items: center;
  // box-shadow: 0px 1px #fff;
  .navbar-spinner-container {
    margin: 0 10px;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
}

.logo {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.logo::before{
  content: '🔥 Pyroscope';
}

.navbar-space-filler {
  flex-grow: 1;
}

.fx-1 {
  flex: 1;
}

.btn {
  @include outline;
  // height: 30px;
  // line-height: 30px;
  border: 1px solid $btn-border-color;
  border-radius: 4px;
  background: $btn-color;
  &:hover{
    background: $btn-hover-color;
  }
}

.svg-renderer {
  padding: 0 15px;
}

.svg-container {
  border-radius: 4px;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.33);
  background-color: #212124;
  border: 1px solid #141414;
}

body {
  min-width: 1024px;
}
