@use 'sass:math';
@use 'variables' as *;
@use 'mixins/outline' as *;
@use 'components/daterangepicker';
@use 'components/labels';
@use 'components/tagsbar';
@use 'components/button';

@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';

@import 'login.scss';

//global color variables
@import './variables.css';

html {
  width: 100vw;
}

body {
  font: 400 16px/1.7 -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-color: var(--ps-c-gray-dark-1);
  color: var(--ps-c-white);
}

pre,
code,
tt {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 14px;
}

tt {
  border-radius: 3px;
  border: 1px solidver(--ps-gray-light-4);
  padding: 2px 4px;
  background-color: var(--ps-c-white-dark-2);
}

.navbar {
  display: flex;
  //  padding: 0 15px 0 15px;
  height: 60px;
  align-items: center;

  // box-shadow: 0px 1px #fff;
}

.logo-main {
  background-image: url('../images/logo-v3-small.svg');
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.navbar {
  .logo {
    margin: 0;
    padding: 0;
    font-weight: 400;
    background-image: url('../images/logo-v3-small.svg');
    background-size: 40px 40px;
    background-position: 0px 8px;
    background-repeat: no-repeat;
  }

  .logo::after {
    content: 'Pyroscope';
    font-weight: 400;
    padding-left: 44px;
    font-size: 25px;
    vertical-align: text-top;
  }
}

.fx-1 {
  flex: 1;
}

select {
  @include outline;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  background-color: $btn-color;
  border: 1px solid $btn-border-color;

  &:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' fill='white' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
  }
}

input {
  @include outline;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  background-color: $btn-color;
  border: 1px solid $btn-border-color;
}

.followed-by-btn {
  border-radius: 4px 0 0 4px;
}

.followed-by-btn + .btn {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.btn.btn-active {
  background-color: #999;
  border-color: #999;
  // font-weight: 500;
}

.hidden {
  visibility: hidden;
}

.svg-container,
.canvas-container {
  //  border-radius: 4px;
  //  // box-shadow: 0 1px 2px rgba(0,0,0,0.33);
  //  background-color: #212124;
  //  border: 1px solid #141414;
}

.comparison-container {
  display: flex;
  flex-direction: row;
}

.spinner-container {
  margin: 0 10px;
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}

//.canvas-container {
//  padding: 10px;
//  width: 100%;
//}

body {
  // this is the width of GitHub README page. so we're targeting this width so that it looks good for demo gif
  min-width: 838px;
}

// see previous comment about min-width
@media only screen and (max-width: 1439px) {
  .navbar-links {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .logo::after {
    content: '';
  }
  .labels {
    margin-left: 5px;
  }
  .drp-button {
    max-width: 375px;
  }
}

#timeline-chart-single,
#timeline-chart-double,
#timeline-chart-left,
#timeline-chart-right {
  overflow: hidden;
  cursor: crosshair;
}

.flot-tick-label.tickLabel {
  white-space: nowrap;
}

$pane-width: 6px;

//.panes-wrapper {
//
//  .pane {
////    flex: 1;
//    //  margin: 0 $pane-width;
//    //width: 50%;
//
////    .flamegraph-header {
////      padding-bottom: 5px;
////      display: flex;
////      justify-content: space-between;
////
////      .row {
////        display: flex;
////        justify-content: center;
////      }
////    }
//
////    &.vertical-orientation {
////      width: 100%;
////      //padding: 10px;
////    }
//
//    &.hidden {
//      display: none;
//    }
//  }
//}
//
.diff-instructions-wrapper {
  display: flex;
  gap: 15px;
  padding-bottom: 10px;
}

.diff-instructions-wrapper-side {
  flex: 1 1 0;
}

.left-instructions-wrapper {
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;
}

.left-instructions-text {
  color: rgba(200, 102, 204, 1);
  font-size: 12px;
}

.right-instructions-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}

.right-instructions-text {
  color: var(--ps-c-blue-light-2);
  font-size: 12px;
}

.flamegraph-table {
  width: 100%;
  font-size: 14px;

  th,
  td {
    text-align: right;
    padding: 0px 10px;

    border-left: 1px solid var(--ps-c-gray-light-1);
    border-bottom: 1px solid var(--ps-c-gray-light-1);
    width: 150px;
    min-width: 150px;
    max-width: 150px;

    &.sortable {
      cursor: pointer;
      user-select: none;
    }

    .sort-arrow {
      display: inline-block;
      border: 5px solid transparent;
      border-top-color: var(--ps-c-white-dark-2);
      top: 3px;
      position: relative;
      margin-left: 7px;
      &.asc {
        border-top-color: transparent;
        border-bottom-color: var(--ps-c-white);
        top: -2px;
      }
      &.desc {
        border-top-color: var(--ps-c-white);
        top: 3px;
      }
    }

    span {
      // mix-blend-mode: exclusion;
      text-shadow: 0 0 2px var(--ps-c-black-lighter);
    }

    &:first-child {
      border-left: none;
      text-align: left;

      width: auto;
      min-width: auto;
      max-width: auto;

      white-space: nowrap;
    }

    &:first-child .color-reference {
      position: absolute;
      left: 10px;
      bottom: 0;
      top: 0;
      margin: auto;
    }
  }

  .symbol-name {
    font-size: 14px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  }

  th {
    padding: 6px 10px;
  }
  tr th,
  tr:nth-child(2n) td {
    background: var(--ps-c-white-dark-3);
  }

  td {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

    &:first-child {
      margin-left: 15px;
      position: relative;
    }

    // element right next the color reference
    &:first-child .color-reference + div {
      margin-left: 15px;
    }

    .table-item-button {
      border: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
      width: 100%;
      cursor: pointer;
    }
  }
}

.color-reference {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 5px;
}

.modal-close-btn {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  cursor: pointer;
  &:after {
    content: '✕';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  // hit-area
  &:before {
    content: '';
    cursor: pointer;
    top: -20px;
    right: -20px;
    display: block;
    position: absolute;

    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.footer {
  display: block;
  // display: flex;
  padding: 20px 15px;
  text-align: center;
  .footer-space-filler {
    // flex-grow: 1;
  }
  a {
    color: var(--ps-c-white);
    text-decoration: none;
    &:hover span {
      text-decoration: underline;
    }
  }
}

.navbar,
.footer {
  .navbar-link {
    a {
      color: var(--ps-c-white);
      text-decoration: none;
      font-weight: 500;
      &:hover {
        color: var(--ps-c-white);
        cursor: pointer;
      }
    }
    margin-left: 30px;
  }
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

// This was used for the sidebar setup
// The trick here is to have 2 items
// The sidebar and the app
// And ONLY scroll the app
// which should occuppy the rest of screen width
// making it look like it's the body's toolbar!
.app {
  height: 100vh;
  display: flex;
}

.pyroscope-app {
  overflow-y: auto;
  flex-grow: 1;

  // define the padding here instead of each individual component
  // to make it easier to maintain
  padding: 0 15px;
}

.pyroscope-app {
  //  display: flex;
  //  flex-direction: column;
}

.main-wrapper {
  flex: 1 0 auto;
}
// stretch all main-wrapper children by default
// so that we don't have to define it for every single page
.main-wrapper > * {
  width: 100%;
}

.no-data-message {
  text-align: center;
  margin: 40px 0;
  display: none;
  &.visible {
    display: block;
  }
}

// used to generate gifs with no scrollbars
.demo-mode {
  body {
    overflow: hidden;
  }

  .root {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    margin-right: -17px;
    box-sizing: content-box;
  }
}

.btn-group {
  display: flex;
  .btn {
    border-radius: 0;
    border-left: none;
    &:first-child {
      border-left: 1px solid $btn-border-color;
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

.viz-switch {
  .btn {
    padding-left: 12px;
    padding-right: 12px;
    &.active {
      background-color: var(--ps-c-green);
      color: #222;
      border-left-color: var(--ps-c-green);
      border-right-color: var(--ps-c-green);
      border-top-color: var(--ps-c-green);
      border-bottom-color: var(--ps-c-green);
    }
  }

  & + .viz-switch {
    margin-left: 10px;
  }
}

.navbar-space-filler {
  flex-grow: 1;
}
