@use "variables"as *;
@use "mixins/outline"as *;
@use "components/drp";
@use "components/labels";

@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';


@import 'flamebearer.scss';

body {
  font: 300 16px/1.7 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background-color: $bg-color;
  color: white;
}


.navbar-2 {
  display: flex;
  padding: 0 0 10px 0;
  height: 60px;
  align-items: center;
}

.navbar {
  display: flex;
  padding: 0 15px 0 12px;
  height: 60px;
  align-items: center;

  // box-shadow: 0px 1px #fff;
  .navbar-spinner-container {
    margin: 0 10px;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
}

.logo {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.logo::before {
  content: '🔥 Pyroscope';
}

.navbar-space-filler {
  flex-grow: 1;
}

.fx-1 {
  flex: 1;
}

.btn {
  @include outline;
  // height: 30px;
  // line-height: 30px;
  border: 1px solid $btn-border-color;
  border-radius: 4px;
  background: $btn-color;

  &:hover {
    background: $btn-hover-color;
  }
}

select {
  @include outline;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  background-color: $btn-color;
  border: 1px solid $btn-border-color;

  &:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' fill='white' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
  }
}

input {
  @include outline;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  background-color: $btn-color;
  border: 1px solid $btn-border-color;
}

.followed-by-btn {
  border-radius: 4px 0 0 4px;
}

.followed-by-btn+.btn {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.btn.btn-active {
  background-color: #999;
  border-color: #999;
  // font-weight: 500;
}

.hidden {
  visibility: hidden;
}

.svg-renderer,
.canvas-renderer {
  padding: 0 15px;
}

.svg-container,
.canvas-container {
  border-radius: 4px;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.33);
  background-color: #212124;
  border: 1px solid #141414;
}

.canvas-container {
  padding: 10px;
}

body {
  min-width: 1024px;
}

// .timeline-wrapper {
//   position: relative;
//   width: 100%;
//   height: 100px;
// }
// .timeline-container {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }

#timeline-chart {
  overflow: hidden;
}

.flot-tick-label.tickLabel {
  white-space: nowrap;
}

.flamegraph-canvas {
  width: 100%;
}


