$bg-color: #272320;
$bg-color: #161719; // grafana
$btn-color: #574a40;
$btn-hover-color: #5f5853;
$btn-border-color: #5f5853;

// $bg-color: #3d5a80;
// $btn-color: #98c1d9;
// $btn-hover-color: #e0fbfc;
// $btn-border-color: #e0fbfc;

$bg-color: #293241;
$btn-color: #3d5a80;
$btn-hover-color: #98c1d9;
$btn-border-color: #98c1d9;

$bg-color: #1b1b1b;
$btn-color: #272727;
$btn-hover-color: #3b3b3b;
$btn-border-color: #4d4d4d;





/* SCSS HEX */
$bdazzled-blue: #3d5a80ff;
$pale-cerulean: #98c1d9ff;
$light-cyan: #e0fbfcff;
$burnt-sienna: #ee6c4dff;
$gunmetal: #293241ff;

/* SCSS HEX */
$floral-white: #fffcf2ff;
$pale-silver: #ccc5b9ff;
$black-olive: #403d39ff;
$eerie-black: #252422ff;
$flame: #eb5e28ff;


/* SCSS HEX */
$space-cadet: #2d3142ff;
$silver: #bfc0c0ff;
$white: #ffffffff;
$mandarin: #ef8354ff;
$independence: #4f5d75ff;


// $bg-color: $space-cadet;
// $btn-color: $silver;
// $btn-hover-color: $mandarin;
// $btn-border-color: $btn-hover-color;

/* SCSS HEX */
$black-coral: #495867ff;
$blue-yonder: #577399ff;
$beau-blue: #bdd5eaff;
$ghost-white: #f7f7ffff;
$orange-red-crayola: #fe5f55ff;


// $bg-color: $black-coral;
// $btn-color: $blue-yonder;
// $btn-hover-color: $beau-blue;
// $btn-border-color: $beau-blue;




/* SCSS HEX */
$rich-black-fogra-29: #0d1b2aff;
$oxford-blue: #1b263bff;
$bdazzled-blue: #415a77ff;
$shadow-blue: #778da9ff;
$platinum: #e0e1ddff;




// $bg-color: $rich-black-fogra-29;
// $btn-color: $oxford-blue;
// $btn-hover-color: $bdazzled-blue;
// $btn-border-color: $bdazzled-blue;


/* SCSS HEX */
$davys-grey: #484a47ff;
$cadet: #5c6d70ff;
$burnished-brown: #a37774ff;
$middle-red: #e88873ff;
$melon: #e0ac9dff;



// $bg-color: $davys-grey;
// $btn-color: $cadet;
// $btn-hover-color: $middle-red;
// $btn-border-color: $middle-red;
