:root {
  --ps-neutral-1: #000000;
  --ps-neutral-2: #ffffff;
  --ps-neutral-3: #00000099;
  --ps-neutral-4: #00000054;
  --ps-neutral-5: #141414;
  --ps-neutral-6: #1b1b1b;
  --ps-neutral-7: #212124;
  --ps-neutral-8: #333333;
  --ps-neutral-9: #272727;
  --ps-neutral-10: #4d4d4d;
  --ps-neutral-11: #aaaaaa;
  --ps-neutral-12: #414141;
  --ps-neutral-13: #222222;
  --ps-neutral-14: #3b3b3b;
  --ps-neutral-15: #d8d8d8;
  --ps-neutral-16: #ffffff4c;
  --ps-neutral-17: #ffffff08;
  --ps-neutral-18: #ffffff54;
  --ps-neutral-19: #ffffffa8;
  --ps-neutral-20: #e6e6e6;

  --ps-accent-1-1: #1d49a1;
  --ps-accent-1-2: #216ba5;
  --ps-accent-1-3: #0074d9;
  --ps-accent-1-4: #0d8eff;
  --ps-accent-1-5: #1398f6;
  --ps-accent-1-6: #40a6ff;
  --ps-accent-1-7: #3dc1d3cc;

  --ps-accent-2-1: #2ecc40;
  --ps-accent-2-2: #54d964;
  --ps-accent-2-3: #28a745;
  --ps-accent-2-4: #7ee289;

  --ps-accent-3-1: #8a1722;
  --ps-accent-3-2: #dc3545;
  --ps-accent-3-3: #e4606d;
  --ps-accent-3-4: #eb8c95;
  --ps-accent-3-5: #e84d3c;
  --ps-accent-3-6: #fc6d26;
  --ps-accent-3-7: #fc5c0d;
  --ps-accent-3-8: #e53825;
  --ps-accent-3-9: #df8b53;
  --ps-accent-3-10: #d1283980;
}

[data-theme='light'],
[data-flamegraph-color-mode='light'] {
  --ps-neutral-1: #ffffff;
  --ps-neutral-2: #000000;
  --ps-neutral-3: #ffffff99;
  --ps-neutral-4: #ffffff54;
  --ps-neutral-5: #ebebeb;
  --ps-neutral-6: #e4e4e4;
  --ps-neutral-7: #dededb;
  --ps-neutral-8: #cccccc;
  --ps-neutral-9: #d8d8d8;
  --ps-neutral-10: #b2b2b2;
  --ps-neutral-11: #555555;
  --ps-neutral-12: #bebebe;
  --ps-neutral-13: #dddddd;
  --ps-neutral-14: #c4c4c4;
  --ps-neutral-15: #272727;
  --ps-neutral-16: #0000004c;
  --ps-neutral-17: #00000008;
  --ps-neutral-18: #00000054;
  --ps-neutral-19: #000000a8;
  --ps-neutral-20: #191919;

  --ps-accent-1-1: #e2b65e;
  --ps-accent-1-2: #de945a;
  --ps-accent-1-3: #ff8b26;
  --ps-accent-1-4: #f27100;
  --ps-accent-1-5: #ec6709;
  --ps-accent-1-6: #bf5900;
  --ps-accent-1-7: #c23e2ccc;

  --ps-accent-2-1: #d133bf;
  --ps-accent-2-2: #ab269b;
  --ps-accent-2-3: #d758ba;
  --ps-accent-2-4: #811d76;

  --ps-accent-3-1: #75e8dd;
  --ps-accent-3-2: #23caba;
  --ps-accent-3-3: #1b9f92;
  --ps-accent-3-4: #14736a;
  --ps-accent-3-5: #17b2c3;
  --ps-accent-3-6: #0392d9;
  --ps-accent-3-7: #03a3f2;
  --ps-accent-3-8: #1ac7da;
  --ps-accent-3-9: #2074ac;
  --ps-accent-3-10: #2ed7c680;
}
