:root {
  --ps-neutral-1: #000000;
  --ps-neutral-2: #ffffff;
  --ps-neutral-9: #ffffff08; /* lighter background for table */

  --ps-ui-element-bg-primary: #242428; /* non-selected button background, highlighted button text (when buttons are green) */
  --ps-ui-element-bg-highlight: #47474e; /* table and dropdown background highlight, disabled button background-color, dark button color, table borders, selected sidebar item highlight background */

  --ps-ui-border-color: #3b3b44; /* Note: same as --ps-grey-primary */
  --ps-ui-foreground: #212124; /* sidebar background and "panel"/"box" background */
  --ps-ui-foreground-text: #d8d8d8; /* sidebar text and datepicker text */
  --ps-ui-background: #0e0e13; /* background furthest back color */
  --ps-dropdown-background: #2c2c30; /* dropdown background */

  --ps-blue-primary: #0d8eff; /* Standard blue for button, instructions text (right) */
  --ps-blue-highlight: #40a6ff; /* highlight (hover) blue */
  --ps-blue-disabled: #85a4c9; /* disabled blue */

  --ps-green-primary: #2ecc40; /* standard green for button */
  --ps-green-highlight: #61ea71; /* highlight (hover) green */
  --ps-green-disabled: #85c985; /* disabled green */

  --ps-red-primary: #dc3545; /* standard red for button */
  --ps-red-highlight: #e4606d; /* highlight (hover) red */
  --ps-red-disabled: #eb8c95; /* disabled red */

  --ps-grey-primary: #3b3b44;
  --ps-grey-highlight: #47474e;
  --ps-grey-disabled: #404047;

  --ps-selected-app: #df8b53; /* active selected app color in dropdown */

  --ps-immutable-green-button-text: #242428;
  --ps-immutable-google-button: #e84d3c; /* sign up with google button */
  --ps-immutable-google-button-hover: #e53825; /* sign up with google hover */
  --ps-immutable-gitlab-button: #fc6d26; /* sign up with gitlab button */
  --ps-immutable-gitlab-button-hover: #fc5c0d; /* sign up with gitlab hover */
  --ps-immutable-gitlab-button: #3b3b44;
  --ps-immutable-gitlab-button-hover: #47474e;
  --ps-immutable-gradient-0: #d1283980; /* used for gradient */
  --ps-immutable-gradient-1: #3dc1d3cc; /* used for gradient */

  --ps-immutable-1: #e6e6e6;
  --ps-immutable-2: #eb7b18;
  --ps-immutable-3: #ffffff;
  --ps-immutable-4: #333333;
}

[data-theme='light'],
[data-flamegraph-color-mode='light'] {
  --ps-neutral-1: #ffffff;
  --ps-neutral-2: #000000;
  --ps-neutral-9: #00000008; /* lighter background for table */

  --ps-ui-element-bg-primary: #e2e2e2; /* non-selected button background, highlighted button text (when buttons are green) */
  --ps-ui-element-bg-highlight: #c4c4c4; /* table and dropdown background highlight, disabled button background-color, dark button color, table borders, selected sidebar item highlight background */

  --ps-ui-border-color: #b2b2b2; /* Note: same as --ps-grey-primary */
  --ps-ui-foreground: #f8f8f8; /* sidebar background and "panel"/"box" background */
  --ps-ui-foreground-text: #272727; /* sidebar text and datepicker text */
  --ps-ui-background: #eaeaea; /* background furthest back color */
  --ps-dropdown-background: #e2e2e2; /* dropdown background */

  --ps-selected-app: #0d8eff; /* active selected app color in dropdown */

  --ps-green-primary: #7db26d; /* standard green */
  --ps-green-highlight: #8fcb7c; /* highlight (hover) green */
  --ps-green-disabled: #67935a; /* disabled green */
}
