:root {
  --ps-neutral-1: #000000;
  --ps-neutral-2: #ffffff;
  --ps-neutral-3: #141414; /* background furthest back color */
  --ps-neutral-4: #212124; /* sidebar background and "panel"/"box" background */
  --ps-neutral-5: #272727; /* non-selected button background, highlighted button text (when buttons are green) */
  --ps-neutral-6: #4d4d4d; /* disabled button text color, button borders, dropdown borders */
  --ps-neutral-7: #3b3b3b; /* table and dropdown background highlight, disabled button background-color, dark button color, table borders, selected sidebar item highlight background */
  --ps-neutral-8: #d8d8d8; /* sidebar text and datepicker text */
  --ps-neutral-9: #ffffff08; /* lighter background for table */

  --ps-accent-1-1: #0d8eff; /* Standard blue for button, instructions text (right) */
  --ps-accent-1-2: #40a6ff; /* highlight (hover) blue */
  --ps-accent-1-3: #85a4c9; /* disabled blue */

  --ps-accent-2-1: #2ecc40; /* standard green for button */
  --ps-accent-2-2: #61ea71; /* highlight (hover) green */
  --ps-accent-2-3: #85c985; /* disabled green */

  --ps-accent-3-1: #dc3545; /* standard red for button */
  --ps-accent-3-2: #e4606d; /* highlight (hover) red */
  --ps-accent-3-3: #eb8c95; /* disabled red */
  --ps-accent-3-4: #df8b53; /* active selected app color in dropdown */

  --ps-immutable-google-button: #e84d3c; /* sign up with google button */
  --ps-immutable-google-button-hover: #e53825; /* sign up with google hover */
  --ps-immutable-gitlab-button: #fc6d26; /* sign up with gitlab button */
  --ps-immutable-gitlab-button-hover: #fc5c0d; /* sign up with gitlab hover */
  --ps-immutable-gradient-0: #d1283980; /* used for gradient */
  --ps-immutable-gradient-1: #3dc1d3cc; /* used for gradient */

  --ps-immutable-1: #e6e6e6;
  --ps-immutable-2: #eb7b18;
  --ps-immutable-3: #ffffff;
  --ps-immutable-4: #333333;
}

[data-theme='light'],
[data-flamegraph-color-mode='light'] {
  --ps-neutral-1: #ffffff;
  --ps-neutral-2: #000000;
  --ps-neutral-3: #eaeaea; /* background furthest back color */
  --ps-neutral-4: #f8f8f8; /* sidebar background and "panel"/"box" background */
  --ps-neutral-5: #e2e2e2; /* non-selected button background, highlighted button text (when buttons are green) */
  --ps-neutral-6: #b2b2b2; /* disabled button text color, button borders, dropdown borders */
  --ps-neutral-7: #c4c4c4; /* table and dropdown background highlight, disabled button background-color, dark button color, table borders, selected sidebar item highlight background */
  --ps-neutral-8: #272727; /* sidebar text and datepicker text */
  --ps-neutral-9: #00000008; /* lighter background for table */

  --ps-accent-2-1: #7db26d; /* standard green */
  --ps-accent-2-2: #8fcb7c; /* highlight (hover) green */
  --ps-accent-2-3: #67935a; /* disabled green */
}
