{{- /*gotype: github.com/grafana/mimir/pkg/storegateway.ringStatusPageContents*/ -}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Store Gateway Ring</title>
</head>
<body>
<h1>Store Gateway Ring</h1>
<p>{{ .Message }}</p>
</body>
</html>
