annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
cffi==2.0.0
click==8.4.1
fastapi==0.136.3
h11==0.16.0
httptools==0.8.0
idna==3.18
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyroscope-io==1.0.4
python-dotenv==1.2.2
PyYAML==6.0.3
starlette==1.2.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.48.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.0
