## Copy this template to .env and replace the values with your own.

## reads.js
## (REQUIRED) The base URL of the application under test.
K6_BASE_URL="http://localhost:4040"

## The read token to authenticate with the server. Only used if the server
## requires authentication.
K6_READ_TOKEN=""

## The tenant ID to use for the test, if in running against a multi-tenant
## environment.
K6_TENANT_ID=""

## (DEFAULT "fire-dev-001/ingester") The service name to use in the read
## queries.
K6_QUERY_SERVICE_NAME=""

## (DEFAULT "1h") Comma-separated list of durations to use in the read queries.
## These durations will be used in "last X" time ranges.
K6_QUERY_DURATIONS=""
