openapi: 3.1.0
info:
  title: debuginfo.v1
  version: v1.0.0
tags:
  - name: scope/public
    description: This operation is considered part of the public API scope
  - name: scope/internal
    description: This operation is considered part of the interal API scope. There are no stability guaraentees when using those APIs.
  - name: debuginfo.v1.DebuginfoService
    description: |-
      This service is inspired by parca debug info upload rpc
       It is however different, specifically original ShouldInitiateUpload,InitiateUpload,InitiateUpload are merged into Upload
       Some structs were renamed. Some features removed (signed upload, force upload)
paths:
  /debuginfo.v1.DebuginfoService/Upload: {}
components:
  schemas:
    connect-protocol-version:
      type: number
      title: Connect-Protocol-Version
      enum:
        - 1
      description: Define the version of the Connect protocol
      const: 1
    connect-timeout-header:
      type: number
      title: Connect-Timeout-Ms
      description: Define the timeout, in ms
    connect.error:
      type: object
      properties:
        code:
          type: string
          examples:
            - not_found
          enum:
            - canceled
            - unknown
            - invalid_argument
            - deadline_exceeded
            - not_found
            - already_exists
            - permission_denied
            - resource_exhausted
            - failed_precondition
            - aborted
            - out_of_range
            - unimplemented
            - internal
            - unavailable
            - data_loss
            - unauthenticated
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/connect.error_details.Any'
          description: A list of messages that carry the error details. There is no limit on the number of messages.
      title: Connect Error
      additionalProperties: true
      description: 'Error type returned by Connect: https://connectrpc.com/docs/go/errors/#http-representation'
    connect.error_details.Any:
      type: object
      properties:
        type:
          type: string
          description: 'A URL that acts as a globally unique identifier for the type of the serialized message. For example: `type.googleapis.com/google.rpc.ErrorInfo`. This is used to determine the schema of the data in the `value` field and is the discriminator for the `debug` field.'
        value:
          type: string
          format: binary
          description: The Protobuf message, serialized as bytes and base64-encoded. The specific message type is identified by the `type` field.
        debug:
          oneOf:
            - type: object
              title: Any
              additionalProperties: true
              description: Detailed error information.
          discriminator:
            propertyName: type
          title: Debug
          description: Deserialized error detail payload. The 'type' field indicates the schema. This field is for easier debugging and should not be relied upon for application logic.
      additionalProperties: true
      description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message, with an additional debug field for ConnectRPC error details.
    debuginfo.v1.FileMetadata:
      type: object
      properties:
        GNU:
          type: string
          title: GNU
        Golang:
          type: string
          title: Golang
        OpenTelemetry:
          type: string
          title: OpenTelemetry
          description: optional libpf.FileID rom the otel profiler
        Name:
          type: string
          title: Name
        type:
          title: type
          $ref: '#/components/schemas/debuginfo.v1.FileMetadata.DebuginfoType'
      title: FileMetadata
      additionalProperties: false
    debuginfo.v1.FileMetadata.DebuginfoType:
      type: string
      title: DebuginfoType
      enum:
        - DEBUGINFO_TYPE_EXECUTABLE_FULL
        - DEBUGINFO_TYPE_EXECUTABLE_NO_TEXT
    debuginfo.v1.ShouldInitiateUploadRequest:
      type: object
      properties:
        file:
          title: file
          description: bool force = ;
          $ref: '#/components/schemas/debuginfo.v1.FileMetadata'
      title: ShouldInitiateUploadRequest
      additionalProperties: false
    debuginfo.v1.ShouldInitiateUploadResponse:
      type: object
      properties:
        shouldInitiateUpload:
          type: boolean
          title: should_initiate_upload
        reason:
          type: string
          title: reason
      title: ShouldInitiateUploadResponse
      additionalProperties: false
    debuginfo.v1.UploadChunk:
      type: object
      properties:
        chunk:
          type: string
          title: chunk
          format: byte
      title: UploadChunk
      additionalProperties: false
    debuginfo.v1.UploadRequest:
      type: object
      oneOf:
        - properties:
            chunk:
              title: chunk
              $ref: '#/components/schemas/debuginfo.v1.UploadChunk'
          title: chunk
          required:
            - chunk
        - properties:
            init:
              title: init
              $ref: '#/components/schemas/debuginfo.v1.ShouldInitiateUploadRequest'
          title: init
          required:
            - init
      title: UploadRequest
      additionalProperties: false
    debuginfo.v1.UploadResponse:
      type: object
      oneOf:
        - properties:
            init:
              title: init
              $ref: '#/components/schemas/debuginfo.v1.ShouldInitiateUploadResponse'
          title: init
          required:
            - init
      title: UploadResponse
      additionalProperties: false
security: []
