.flamegraphTooltip {
  width: 320px;

  position: fixed;
  background: #ffffff;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: #333;
  font-size: 12px;
  visibility: hidden;
  z-index: 2;

  .flamegraphTooltipName {
    border-bottom: 1px solid #333;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 5px;
  }

  .functionName {
    padding: 8px 5px 0;
    min-height: 50px;
  }

  .contentContainer {
    padding: 8px 5px;
    border-bottom: 1px solid #333;

    .content {
      display: flex;
    }

    p {
      text-align: left;
      margin: 0;
      width: 50%;
    }
  }

  .rightClickInfo {
    padding: 8px 5px;
    display: flex;
    justify-content: center;

    svg {
      display: block;
      align-self: center;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    span {
      font-size: 14px;
    }
  }
}
