.flamegraphTooltip {
  width: 420px;
  position: fixed;
  background: var(--ps-neutral-2);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: var(--ps-neutral-1);
  font-size: 12px;
  visibility: hidden;
  z-index: 2;

  &.flamegraphDiffTooltip {
    width: 450px;
  }

  .flamegraphTooltipName {
    color: var(--ps-neutral-1);
    background-color: var(--ps-tooltip-header-bg);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 10px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  }

  .functionName {
    padding: 8px 10px 0;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

    white-space: break-spaces;
    word-break: break-all;
  }

  .tooltipTable {
    width: calc(100% - 10px * 2);
    margin: 10px 10px 16px;

    th,
    td {
      border: 1px solid var(--ps-tooltip-header-bg);
      padding: 5px;
    }

    td {
      width: 50%;
    }

    &.tooltipDiffTable {
      th,
      td {
        width: 25%;
        font-weight: normal;
      }
    }
  }

  .rightClickInfo {
    padding: 0 5px 10px;
    display: flex;
    justify-content: center;
    color: var(--ps-right-click-info);

    svg {
      display: block;
      align-self: center;
      width: 22px;
      height: 22px;
      margin-right: 5px;
    }

    span {
      font-size: 14px;
    }
  }
}
