.flamegraphTooltip {
  width: 320px;
  position: fixed;
  background: var(--ps-neutral-2);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: var(--ps-neutral-1);
  font-size: 12px;
  visibility: hidden;
  z-index: 2;

  &.flamegraphDiffTooltip {
    width: 450px;
  }

  .flamegraphTooltipName {
    color: var(--ps-neutral-1);
    background-color: var(--ps-tooltip-header-bg);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 5px;
  }

  .functionName {
    padding: 8px 5px 0;
  }

  .tooltipTable {
    width: calc(100% - 5px * 2);
    margin: 10px 5px 16px;

    th,
    td {
      border: 1px solid var(--ps-tooltip-header-bg);
      padding: 5px;
    }

    td {
      width: 50%;
    }

    &.tooltipDiffTable {
      th,
      td {
        width: 25%;
        font-weight: normal;
      }
    }
  }
}
