.currentConfigApp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .config {
    padding: 10px 0;
    outline: none;
    code {
      background: none;
      border: none;
      box-shadow: none;
    }
  }
  .header {
    margin: 0 0 10px;
  }
}
