.heatmapTitle {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 18px;
}

.spinnerWrapper {
  text-align: center;
}

.heatmapSelectionGuide {
  text-align: center;

  .title {
    margin: 0 0 12px;
  }

  .gif {
    width: 480px;
  }
}
