.exploreView {
  .header {
    display: flex;
    align-items: center;
    margin: 0 10px 10px;
  }

  .tableDescription {
    margin: 0 10px 10px;
    display: flex;
    justify-content: space-between;
  }

  .title {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    margin-right: 15px;
  }

  .query {
    display: flex;
    align-items: center;

    .selectName {
      font-weight: 500;
      color: var(--ps-right-click-info);
      margin-right: 5px;
    }
  }

  table {
    background-color: var(--ps-ui-element-bg-highlight);
    width: 100%;

    tbody {
      cursor: pointer;

      td {
        font-weight: initial;
        text-align: c;
      }

      tr:nth-child(2n + 1) {
        background-color: var(--ps-ui-element-bg-primary);
      }

      tr.activeTagRow {
        background-color: var(--ps-green-highlight);
        color: var(--ps-tooltip-text);
      }
    }

    td,
    th {
      border: 1px solid;
      border-color: lightcyan;
      padding: 5px;
      width: 10%;
    }
  }
}
