.sandwichViewContainer {
  h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
  }

  .sandwich {
    display: flex;

    .half {
      width: 50%;
      min-height: 400px;
      border: 1px solid white;
    }
  }
}
