.sandwichViewContainer {
  h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
  }

  .sandwich {
    display: flex;
    width: 100%;

    .half {
      width: 100%;
      min-height: 400px;
      padding: 0 10px;
    }
  }
}
