.tagExplorerView {
  .header {
    display: flex;
    align-items: center;
    margin: 0 10px 10px;
  }

  .tableDescription {
    margin: 0 10px 10px;
    display: flex;
    justify-content: space-between;
  }

  .title {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    margin-right: 5px;
  }

  .query {
    display: flex;
    align-items: center;

    .selectName {
      font-weight: 500;
      color: var(--ps-right-click-info);
      margin-right: 5px;
    }
  }

  .tagExplorerTable {
    width: 100%;

    thead,
    tbody tr:nth-child(2n) {
      background-color: var(--ps-neutral-9);
    }

    tbody {
      cursor: pointer;

      td {
        font-weight: initial;
        text-align: center;
      }

      tr.activeTagRow {
        background-color: var(--ps-green-highlight);
        color: var(--ps-tooltip-text);
      }

      .tagName {
        display: flex;
        align-items: center;

        .tagColor {
          display: inline-block;
          height: 10px;
          width: 10px;
          border-radius: 2px;
          margin-right: 10px;
        }
      }
    }

    td,
    th {
      border: 1px solid var(--ps-ui-border);
      padding: 4px 10px;
      width: 10%;
    }
  }
}
