.tagExplorerView {
  .header {
    display: flex;
    align-items: center;
    margin: 0 10px 10px;

    .notSelectedTagDropdown {
      border-color: var(--ps-selected-app);
      color: var(--ps-selected-app);
    }
  }

  .timelineWrapper,
  .flamegraphWrapper {
    min-height: 125px;
    text-align: center;

    span[role='progressbar'] {
      display: inline-block;
      margin-top: 50px;
    }
  }

  .tableDescription {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 10px;
  }

  .title {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    margin-right: 5px;
  }

  .buttons {
    position: relative;

    a,
    .buttonName {
      cursor: pointer;
      padding: 8px 6px;
      margin-left: 5px;
      text-decoration: none;
      border: 1px solid var(--ps-ui-border);
      color: var(--ps-neutral-2);
      background-color: var(--ps-ui-element-bg-primary);
      border-radius: 4px;

      &:hover {
        background-color: var(--ps-ui-element-bg-highlight);
      }
    }

    .buttonName {
      position: relative;
      line-height: initial;
      padding: 8px 20px 8px 6px;

      &:after {
        content: '▾';
        position: absolute;
        right: 5px;
      }
    }
  }

  .query {
    display: flex;
    align-items: center;

    .selectName {
      font-weight: 500;
      color: var(--ps-right-click-info);
      margin-right: 5px;
    }
  }

  .tagExplorerTable {
    width: 100%;

    thead,
    tbody tr:nth-child(2n):not(:hover) {
      background-color: var(--ps-neutral-9);
    }

    tbody {
      cursor: pointer;

      td {
        font-weight: initial;
        text-align: center;
      }

      tr.activeTagRow {
        background-color: var(--ps-green-highlight);
        color: var(--ps-tooltip-text);
      }

      .tagName {
        display: flex;
        align-items: center;

        .tagColor {
          flex-shrink: 0;
          display: inline-block;
          height: 10px;
          width: 10px;
          border-radius: 2px;
          margin-right: 10px;
        }
      }
    }

    td,
    th {
      border: 1px solid var(--ps-ui-border);
      padding: 4px 10px;
      width: 10%;
    }
  }
}
