@use "../variables" as *;
@use "../mixins/outline" as *;

@import "/Users/michaelegorov/work/pyroscope/flame-graph/build/styles.css";

.dropdown-container {
  position: relative;
  display: inline-block;
  .btn {
    width: 35px;
    height: 35px;
  }
}

.dropdown-toggle {
  margin-right: 5px;
}

.dropdown-header {
  display: block;
  padding: 4px 16px;
  font-size: 12px;
  line-height: 20px;
  color: #888;
  white-space: nowrap;
}

.dropdown-menu-item {
  display: block;
  padding: 4px 16px;
  clear: both;
  font-weight: normal;
  font-size: 11px;
  line-height: 20px;
  color: #222;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: 0;
  &:hover {
    background-color: #cccccc;
  }
}

.dropdown-divider {
  height: 1px;
  margin: 8px 0;
  overflow: hidden;
  background-color: #eee;
}

.menu-show {
  display: flex;
  min-width: 150px;
  position: absolute;
  right: 0;
  z-index: 1000;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: black;
}

.menu-hide {
  display: none;
}
