@use '../variables' as *;

@import '../prism.scss';

.tags-bar {
  display: flex;
  align-items: flex-start;
  padding: 5px 0 15px;

  .tags-query {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  .tags-app-name {
    position: relative;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: var(--ps-ui-element-bg-primary);
    border: 1px solid var(--ps-ui-border-color);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-right: none;
  }
  .tags-input {
    flex-grow: 20;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
    caret-color: var(--ps-neutral-2);
    color: var(--ps-grey-primary);
    letter-spacing: 0px;
    font-family: monospace;
    font-size: 16px;
    border: 1px solid var(--ps-ui-border-color);
    padding: 0.25em 0.375em;
    resize: none;
    word-break: break-all;
    box-sizing: border-box;
    line-height: 27px;
    white-space: break-spaces;
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }
  .tags-query-execute {
    flex-grow: 1;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    caret-color: var(--ps-neutral-2);
    background-color: var(--ps-blue-primary);
    border-color: darken(#0074d9, 10%);
    letter-spacing: 0;
    font-family: arial;
    font-size: 16px;
    &:hover {
      // the important is not optimal but should be fine for now
      // until we implement a component library
      background-color: lighten(#0074d9, 10%) !important;
    }
  }

  .tags-highlighted {
    height: 0;
    width: 0;
    z-index: 1;
    pointer-events: none;
    overflow: inherit;
    background: none;
    padding: 0;
    position: absolute;
    margin: 0;
    top: 0;

    code {
      font-size: 16px;
      font-family: monospace;
      background: none;
      border: 1px solid transparent;
      box-shadow: none;
      padding: 0.25em 0.375em;
      margin: 0;
      line-height: 27px;
      position: absolute;
      top: 0px;
      left: 0px;
      word-break: break-all;
      white-space: break-spaces;
      letter-spacing: 0px;
      border-right: none;
    }
  }

  .tag-content {
    width: 100%;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
  }
}

// TODO: DRY This from SharedQueryInput.module.scss and NameSelector.module.scss
.search {
  background: var(--ps-immutable-1);
  transition: background-color ease-out 0.1s;
  font: inherit;
  margin-right: 8px;
  border: 1px solid var(--ps-ui-border-color);
  width: 300px;

  &,
  &::placeholder {
    color: var(--ps-immutable-4) !important;
  }
}
