<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <title>Pyroscope</title>
    {{- if .BaseURL }}
    <meta name="pyroscope-base-url" content="{{ .BaseURL }}" />
    {{- end }}
    <link rel="stylesheet" href="{{ .BaseURL }}/assets/styles.<%= webpack.hash %>.css" />
    <link rel="icon" href="{{ .BaseURL }}/assets/images/favicon.ico" />
  </head>

  <body class="login-page">
    <div class="bg-2"></div>
    <section class="login-form">
      <div class="welcome-logo"></div>
      <h1 class="welcome-title">Welcome to Pyroscope</h1>
      <p class="login-to-continue">You will be redirected</p>
    </section>

    <script>
      // this is copied from index.jsx
      //   TODO: maybe dedup?
      function basename() {
        const baseURLMetaTag = document.querySelector('meta[name="pyroscope-base-url"]');
        if (!baseURLMetaTag) {
          return null;
        }

        const baseURL = baseURLMetaTag.content;

        if (!baseURL) {
          return null;
        }
        const url = new URL(baseURL, window.location.href);
        return url.pathname;
      }

      var has_tls = location.protocol === 'https:';
      window.location.href = (basename() || '') + '{{.RedirectPath}}&tls=' + has_tls;
    </script>
  </body>
</html>
