<!DOCTYPE html> 
<html> 
  
<head> 
    <title>Pyroscope Redirect</title> 
    <meta http-equiv="refresh"
        content="0; url = {{.RedirectURL}}" /> 
</head> 
  
<body>       
    <p> 
        If your browser supports Refresh, 
        you'll be redirected to Pyroscope  
        Homepage immidietly, otherwise click on the link below. 
    </p> 

    <p><a id="redirect" href="{{.RedirectURL}}">Redirect</a></p>

    <script>
        var has_tls = false
        if (location.protocol === 'https:') {
          has_tls = true
        }
        
        document.querySelector('meta[http-equiv="refresh"]').setAttribute("content", "0; {{.RedirectURL}}" + '&tls=' + has_tls);
        document.getElementById('redirect').href += '&tls=' + has_tls
      </script>
</body> 
  
</html> 
