<html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>







<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
const data = [
  {
    "T1": "2020-07-10T17:46:40Z",
    "T2": "2020-11-03T11:33:20Z",
    "Depth": 6,
    "HasTrie": true
  },
  {
    "T1": "2020-08-02T21:20:00Z",
    "T2": "2020-08-14T11:06:40Z",
    "Depth": 5,
    "HasTrie": true
  },
  {
    "T1": "2020-08-14T11:06:40Z",
    "T2": "2020-08-26T00:53:20Z",
    "Depth": 5,
    "HasTrie": true
  },
  {
    "T1": "2020-08-08T16:13:20Z",
    "T2": "2020-08-09T20:00:00Z",
    "Depth": 4,
    "HasTrie": false
  },
  {
    "T1": "2020-08-09T20:00:00Z",
    "T2": "2020-08-10T23:46:40Z",
    "Depth": 4,
    "HasTrie": true
  },
  {
    "T1": "2020-08-19T02:13:20Z",
    "T2": "2020-08-20T06:00:00Z",
    "Depth": 4,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T06:00:00Z",
    "T2": "2020-08-21T09:46:40Z",
    "Depth": 4,
    "HasTrie": true
  },
  {
    "T1": "2020-08-21T09:46:40Z",
    "T2": "2020-08-22T13:33:20Z",
    "Depth": 4,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T13:33:20Z",
    "T2": "2020-08-23T17:20:00Z",
    "Depth": 4,
    "HasTrie": true
  },
  {
    "T1": "2020-08-08T21:46:40Z",
    "T2": "2020-08-09T00:33:20Z",
    "Depth": 3,
    "HasTrie": false
  },
  {
    "T1": "2020-08-09T20:00:00Z",
    "T2": "2020-08-09T22:46:40Z",
    "Depth": 3,
    "HasTrie": false
  },
  {
    "T1": "2020-08-10T04:20:00Z",
    "T2": "2020-08-10T07:06:40Z",
    "Depth": 3,
    "HasTrie": false
  },
  {
    "T1": "2020-08-10T07:06:40Z",
    "T2": "2020-08-10T09:53:20Z",
    "Depth": 3,
    "HasTrie": false
  },
  {
    "T1": "2020-08-19T05:00:00Z",
    "T2": "2020-08-19T07:46:40Z",
    "Depth": 3,
    "HasTrie": false
  },
  {
    "T1": "2020-08-20T00:26:40Z",
    "T2": "2020-08-20T03:13:20Z",
    "Depth": 3,
    "HasTrie": false
  },
  {
    "T1": "2020-08-20T03:13:20Z",
    "T2": "2020-08-20T06:00:00Z",
    "Depth": 3,
    "HasTrie": false
  },
  {
    "T1": "2020-08-20T06:00:00Z",
    "T2": "2020-08-20T08:46:40Z",
    "Depth": 3,
    "HasTrie": false
  },
  {
    "T1": "2020-08-20T14:20:00Z",
    "T2": "2020-08-20T17:06:40Z",
    "Depth": 3,
    "HasTrie": false
  },
  {
    "T1": "2020-08-21T20:53:20Z",
    "T2": "2020-08-21T23:40:00Z",
    "Depth": 3,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T10:46:40Z",
    "T2": "2020-08-22T13:33:20Z",
    "Depth": 3,
    "HasTrie": false
  },
  {
    "T1": "2020-08-22T13:33:20Z",
    "T2": "2020-08-22T16:20:00Z",
    "Depth": 3,
    "HasTrie": false
  },
  {
    "T1": "2020-08-22T16:20:00Z",
    "T2": "2020-08-22T19:06:40Z",
    "Depth": 3,
    "HasTrie": false
  },
  {
    "T1": "2020-08-09T00:00:00Z",
    "T2": "2020-08-09T00:16:40Z",
    "Depth": 2,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T21:40:00Z",
    "T2": "2020-08-09T21:56:40Z",
    "Depth": 2,
    "HasTrie": false
  },
  {
    "T1": "2020-08-10T04:20:00Z",
    "T2": "2020-08-10T04:36:40Z",
    "Depth": 2,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T09:03:20Z",
    "T2": "2020-08-10T09:20:00Z",
    "Depth": 2,
    "HasTrie": true
  },
  {
    "T1": "2020-08-19T06:40:00Z",
    "T2": "2020-08-19T06:56:40Z",
    "Depth": 2,
    "HasTrie": false
  },
  {
    "T1": "2020-08-20T01:16:40Z",
    "T2": "2020-08-20T01:33:20Z",
    "Depth": 2,
    "HasTrie": false
  },
  {
    "T1": "2020-08-20T03:13:20Z",
    "T2": "2020-08-20T03:30:00Z",
    "Depth": 2,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T07:06:40Z",
    "T2": "2020-08-20T07:23:20Z",
    "Depth": 2,
    "HasTrie": false
  },
  {
    "T1": "2020-08-20T16:50:00Z",
    "T2": "2020-08-20T17:06:40Z",
    "Depth": 2,
    "HasTrie": false
  },
  {
    "T1": "2020-08-21T22:33:20Z",
    "T2": "2020-08-21T22:50:00Z",
    "Depth": 2,
    "HasTrie": false
  },
  {
    "T1": "2020-08-21T22:50:00Z",
    "T2": "2020-08-21T23:06:40Z",
    "Depth": 2,
    "HasTrie": false
  },
  {
    "T1": "2020-08-22T13:16:40Z",
    "T2": "2020-08-22T13:33:20Z",
    "Depth": 2,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T14:06:40Z",
    "T2": "2020-08-22T14:23:20Z",
    "Depth": 2,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T16:36:40Z",
    "T2": "2020-08-22T16:53:20Z",
    "Depth": 2,
    "HasTrie": false
  },
  {
    "T1": "2020-08-09T00:13:20Z",
    "T2": "2020-08-09T00:15:00Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T00:15:00Z",
    "T2": "2020-08-09T00:16:40Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T21:53:20Z",
    "T2": "2020-08-09T21:55:00Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T04:33:20Z",
    "T2": "2020-08-10T04:35:00Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T04:35:00Z",
    "T2": "2020-08-10T04:36:40Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T09:05:00Z",
    "T2": "2020-08-10T09:06:40Z",
    "Depth": 1,
    "HasTrie": false
  },
  {
    "T1": "2020-08-10T09:06:40Z",
    "T2": "2020-08-10T09:08:20Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-19T06:41:40Z",
    "T2": "2020-08-19T06:43:20Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T01:23:20Z",
    "T2": "2020-08-20T01:25:00Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T03:13:20Z",
    "T2": "2020-08-20T03:15:00Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T03:15:00Z",
    "T2": "2020-08-20T03:16:40Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T07:15:00Z",
    "T2": "2020-08-20T07:16:40Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T16:56:40Z",
    "T2": "2020-08-20T16:58:20Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-21T22:48:20Z",
    "T2": "2020-08-21T22:50:00Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-21T22:50:00Z",
    "T2": "2020-08-21T22:51:40Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T13:21:40Z",
    "T2": "2020-08-22T13:23:20Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T13:23:20Z",
    "T2": "2020-08-22T13:25:00Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T14:10:00Z",
    "T2": "2020-08-22T14:11:40Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T14:11:40Z",
    "T2": "2020-08-22T14:13:20Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T16:36:40Z",
    "T2": "2020-08-22T16:38:20Z",
    "Depth": 1,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T00:14:10Z",
    "T2": "2020-08-09T00:14:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T00:14:20Z",
    "T2": "2020-08-09T00:14:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T00:14:30Z",
    "T2": "2020-08-09T00:14:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T00:14:40Z",
    "T2": "2020-08-09T00:14:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T00:14:50Z",
    "T2": "2020-08-09T00:15:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T00:15:00Z",
    "T2": "2020-08-09T00:15:10Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T00:15:10Z",
    "T2": "2020-08-09T00:15:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T21:54:00Z",
    "T2": "2020-08-09T21:54:10Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T21:54:10Z",
    "T2": "2020-08-09T21:54:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T21:54:20Z",
    "T2": "2020-08-09T21:54:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T21:54:30Z",
    "T2": "2020-08-09T21:54:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T21:54:40Z",
    "T2": "2020-08-09T21:54:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-09T21:54:50Z",
    "T2": "2020-08-09T21:55:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T04:34:30Z",
    "T2": "2020-08-10T04:34:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T04:34:40Z",
    "T2": "2020-08-10T04:34:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T04:34:50Z",
    "T2": "2020-08-10T04:35:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T04:35:00Z",
    "T2": "2020-08-10T04:35:10Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T04:35:10Z",
    "T2": "2020-08-10T04:35:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T04:35:20Z",
    "T2": "2020-08-10T04:35:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T09:06:30Z",
    "T2": "2020-08-10T09:06:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T09:06:40Z",
    "T2": "2020-08-10T09:06:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T09:06:50Z",
    "T2": "2020-08-10T09:07:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T09:07:00Z",
    "T2": "2020-08-10T09:07:10Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T09:07:10Z",
    "T2": "2020-08-10T09:07:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T09:07:20Z",
    "T2": "2020-08-10T09:07:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-10T09:07:30Z",
    "T2": "2020-08-10T09:07:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-19T06:42:10Z",
    "T2": "2020-08-19T06:42:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-19T06:42:20Z",
    "T2": "2020-08-19T06:42:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-19T06:42:30Z",
    "T2": "2020-08-19T06:42:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-19T06:42:40Z",
    "T2": "2020-08-19T06:42:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-19T06:42:50Z",
    "T2": "2020-08-19T06:43:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-19T06:43:00Z",
    "T2": "2020-08-19T06:43:10Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-19T06:43:10Z",
    "T2": "2020-08-19T06:43:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T01:23:30Z",
    "T2": "2020-08-20T01:23:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T01:23:40Z",
    "T2": "2020-08-20T01:23:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T01:23:50Z",
    "T2": "2020-08-20T01:24:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T01:24:00Z",
    "T2": "2020-08-20T01:24:10Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T01:24:10Z",
    "T2": "2020-08-20T01:24:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T01:24:20Z",
    "T2": "2020-08-20T01:24:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T01:24:30Z",
    "T2": "2020-08-20T01:24:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T03:14:10Z",
    "T2": "2020-08-20T03:14:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T03:14:20Z",
    "T2": "2020-08-20T03:14:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T03:14:30Z",
    "T2": "2020-08-20T03:14:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T03:14:40Z",
    "T2": "2020-08-20T03:14:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T03:14:50Z",
    "T2": "2020-08-20T03:15:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T03:15:00Z",
    "T2": "2020-08-20T03:15:10Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T03:15:10Z",
    "T2": "2020-08-20T03:15:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T07:15:20Z",
    "T2": "2020-08-20T07:15:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T07:15:30Z",
    "T2": "2020-08-20T07:15:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T07:15:40Z",
    "T2": "2020-08-20T07:15:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T07:15:50Z",
    "T2": "2020-08-20T07:16:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T07:16:00Z",
    "T2": "2020-08-20T07:16:10Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T07:16:10Z",
    "T2": "2020-08-20T07:16:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T16:57:10Z",
    "T2": "2020-08-20T16:57:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T16:57:20Z",
    "T2": "2020-08-20T16:57:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T16:57:30Z",
    "T2": "2020-08-20T16:57:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T16:57:40Z",
    "T2": "2020-08-20T16:57:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T16:57:50Z",
    "T2": "2020-08-20T16:58:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T16:58:00Z",
    "T2": "2020-08-20T16:58:10Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-20T16:58:10Z",
    "T2": "2020-08-20T16:58:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-21T22:49:10Z",
    "T2": "2020-08-21T22:49:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-21T22:49:20Z",
    "T2": "2020-08-21T22:49:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-21T22:49:30Z",
    "T2": "2020-08-21T22:49:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-21T22:49:40Z",
    "T2": "2020-08-21T22:49:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-21T22:49:50Z",
    "T2": "2020-08-21T22:50:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-21T22:50:00Z",
    "T2": "2020-08-21T22:50:10Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-21T22:50:10Z",
    "T2": "2020-08-21T22:50:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T13:22:30Z",
    "T2": "2020-08-22T13:22:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T13:22:40Z",
    "T2": "2020-08-22T13:22:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T13:22:50Z",
    "T2": "2020-08-22T13:23:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T13:23:00Z",
    "T2": "2020-08-22T13:23:10Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T13:23:10Z",
    "T2": "2020-08-22T13:23:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T13:23:20Z",
    "T2": "2020-08-22T13:23:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T13:23:30Z",
    "T2": "2020-08-22T13:23:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T14:11:20Z",
    "T2": "2020-08-22T14:11:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T14:11:30Z",
    "T2": "2020-08-22T14:11:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T14:11:40Z",
    "T2": "2020-08-22T14:11:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T14:11:50Z",
    "T2": "2020-08-22T14:12:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T14:12:00Z",
    "T2": "2020-08-22T14:12:10Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T14:12:10Z",
    "T2": "2020-08-22T14:12:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T14:12:20Z",
    "T2": "2020-08-22T14:12:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T16:37:10Z",
    "T2": "2020-08-22T16:37:20Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T16:37:20Z",
    "T2": "2020-08-22T16:37:30Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T16:37:30Z",
    "T2": "2020-08-22T16:37:40Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T16:37:40Z",
    "T2": "2020-08-22T16:37:50Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T16:37:50Z",
    "T2": "2020-08-22T16:38:00Z",
    "Depth": 0,
    "HasTrie": true
  },
  {
    "T1": "2020-08-22T16:38:00Z",
    "T2": "2020-08-22T16:38:10Z",
    "Depth": 0,
    "HasTrie": true
  }
];

let formattedData = data;
formattedData = formattedData.filter(function(x){
  return x.Depth == 0;
})


formattedData = formattedData.map(function(x){return [x.Depth, moment(x.T1).valueOf(), moment(x.T2).valueOf()]});

formattedData = formattedData.slice(0,7)



$(function () {

	$('#container').highcharts({

	    chart: {
	        type: 'columnrange',
	        inverted: true
	    },

	    title: {
	        text: 'Temperature variation by month'
	    },

		subtitle: {
	        text: 'Observed in Vik i Sogn, Norway, 2009'
	    },

	    xAxis: {
	        categories: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']
	    },

	    yAxis: {
	        title: {
	            text: 'time'
	        }
	    },

	    tooltip: {

	    },

	    plotOptions: {
	        columnrange: {
	        	dataLabels: {
	        		enabled: true,
	        		formatter: function () {
	        			return this.y + '°C';
	        		}
	        	}
	        }
	    },

	    legend: {
	        enabled: false
	    },

	    series: [{
	        name: 'Temperatures2',
	        data: formattedData
	    }]

	});

});
</script>
</html>
