---
version: "3.9"
services:
  pyroscope:
    image: "pyroscope/pyroscope:latest"
    ports:
      - "4040:4040"
    command:
      - "server"
  app:
    environment:
      ASPNETCORE_URLS: http://*:5000
    build: .
