.statusMessage {
  width: 100%;
}

.success {
  color: var(--ps-neutral-2);
  background-color: var(--ps-green-disabled);
  padding: 10px;
  margin: 1em 0;
  padding: 1em;
}

.error {
  color: var(--ps-neutral-2);
  font-weight: bold;
  background-color: var(--ps-red-primary);
  margin: 1em 0;
  padding: 1em;
}
