.buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.syncButton {
  margin-left: 0.5em;
  background-color: transparent;
  font-weight: normal;
  color: var(--ps-immutable-placeholder-text);

  &:hover:not(:disabled) {
    background-color: transparent;
  }
}

.ignoreButton {
  @extend .syncButton;
}
