.buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.syncButton {
  border: 2px solid var(--ps-ui-border);
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 4px;
  display: flex;
  flex-shrink: 0;
  margin-left: 5px;
  background-color: transparent;

  &:hover:not(:disabled) {
    background-color: transparent;
  }
}

.ignoreButton {
  @extend .syncButton;

  margin-left: 10px;
}
