.tooltip {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--ps-tooltip-bg);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 8px 12px;
  color: var(--ps-tooltip-text);
}

.hidden {
  display: none;
}

.time {
  font-size: 14px;
}

.valueWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
}

.valueColor {
  width: 20px;
  height: 6px;
  border-radius: 3px;
  margin-right: 8px;
}

.closest {
  font-weight: bold;
  margin-left: 8px;
}
