.wrapper {
  position: relative;
  width: 18px;
  height: 18px;
  left: -9px;
  top: -7px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: url('../../../../images/comment.svg');
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon {
  pointer-events: none;
  width: 19px !important;
  height: 19px;
  margin-top: -2px;
}

.form {
  width: 180px;
}
