.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownMenuItem {
  display: block;
  clear: both;
  font-weight: normal;
  padding: 4px 16px;
  font-size: 11px;
  line-height: 20px;
  color: var(--ps-neutral-2) !important;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: 0;
  &:hover {
    background-color: var(--ps-neutral-7);
  }
}

.menuShow {
  display: flex;
  min-width: 180px;
  position: absolute;
  right: 0;
  z-index: 1000;
  flex-direction: column;
  border: 1px solid var(--ps-neutral-6);
  background-color: var(--ps-neutral-5);
  box-shadow: 0 5px 15px var(--ps-neutral-1);
  color: var(--ps-neutral-1);
}

.menuHide {
  display: none;
}
