@use '../../sass/variables' as *;

$tdHeight: 25px;

.tableContainer {
  overflow-y: scroll;
  padding: 5px;
  margin-bottom: 10px;
}

.rowSelected {
  cursor: pointer;
  background: var(--ps-green-primary);
  color: var(--ps-neutral-1);
}

.profilesTable {
  width: 100%;
  font-size: 14px;

  tbody tr:not(.rowSelected) {
    &:hover {
      cursor: pointer;
      color: var(--ps-neutral-2);
      background: $btn-hover-color;
    }
  }

  th,
  td {
    text-align: right;
    padding: 0px 10px;

    border-left: 1px solid var(--ps-neutral-7);
    border-bottom: 1px solid var(--ps-neutral-7);
    width: 400px;
    min-width: 400px;
    max-width: 400px;

    // TODO: same ui as ProfilerTable, maybe we should refactor into a table component ?
    &.sortable {
      cursor: pointer;
      user-select: none;

      .sortArrow {
        display: inline-block;
        border: 5px solid transparent;
        border-top-color: var(--ps-neutral-8);
        top: 3px;
        position: relative;
        margin-left: 7px;

        &.asc {
          border-top-color: transparent;
          border-bottom-color: var(--ps-neutral-2);
          top: -2px;
        }

        &.desc {
          border-top-color: var(--ps-neutral-2);
          top: 3px;
        }
      }
    }

    span {
      // mix-blend-mode: exclusion;
      text-shadow: 0 0 1px var(--ps-neutral-1);
    }

    &:first-child {
      border-left: none;
      text-align: left;

      width: auto;
      min-width: auto;
      max-width: auto;

      white-space: nowrap;
    }
  }

  th {
    padding: 6px 10px;
  }
  tr th,
  tr:nth-child(2n) td {
    background: var(--ps-neutral-9);
  }

  td {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

    &:first-child {
      margin-left: 15px;
      position: relative;
    }
  }
}

.checkIcon {
  margin-left: 8px;
}
