.container {
  // same color as canvas-container
  background-color: #212124;
  // same border as canvas-container
  border: 1px solid #141414;

  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 120px;
  max-height: 295px;

  &:hover {
    cursor: pointer;
  }
}
