@use '../../sass/variables' as *;

$tdHeight: 25px;

.tableContainer {
  overflow-y: scroll;
  padding: 5px;
  margin-bottom: 10px;

  table {
    font-size: 14px;

    th {
      padding: 6px 10px;
    }

    td {
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

      &:first-child {
        margin-left: 15px;
        position: relative;
      }
    }

    th,
    td {
      span {
        // mix-blend-mode: exclusion;
        text-shadow: 0 0 1px var(--ps-table-row-text-shadow);
      }

      &:first-child {
        border-left: none;
        text-align: left;
        width: auto;
        min-width: auto;
        max-width: initial;
        white-space: nowrap;
      }

      &:last-child {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        padding: 0px 10px;
      }
    }

    .profileName {
      display: flex;
      align-items: center;

      span {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 30px);
        margin-right: 10px;
      }
    }
  }
}

.checkIcon {
  margin-left: 8px;
}
