@use '../../sass/variables' as *;

$tdHeight: 25px;

.tableContainer {
  overflow-y: scroll;
  padding: 5px;
  margin-bottom: 10px;
}

.rowSelected {
  cursor: pointer;
  background: var(--ps-c-green-light-1);
  color: var(--ps-c-black);
}

.profilesTable {
  width: 100%;
  font-size: 14px;

  tbody tr:not(.rowSelected) {
    &:hover {
      cursor: pointer;
      color: var(--ps-c-white);
      background: $btn-hover-color;
    }
  }

  th,
  td {
    text-align: right;
    padding: 0px 10px;

    border-left: 1px solid var(--ps-c-gray-light-1);
    border-bottom: 1px solid var(--ps-c-gray-light-1);
    width: 400px;
    min-width: 400px;
    max-width: 400px;

    span {
      // mix-blend-mode: exclusion;
      text-shadow: 0 0 2px var(--ps-c-black-lighter);
    }

    &:first-child {
      border-left: none;
      text-align: left;

      width: auto;
      min-width: auto;
      max-width: auto;

      white-space: nowrap;
    }
  }

  th {
    padding: 6px 10px;
  }
  tr th,
  tr:nth-child(2n) td {
    background: var(--ps-c-white-dark-3);
  }

  td {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

    &:first-child {
      margin-left: 15px;
      position: relative;
    }
  }
}

.checkIcon {
  margin-left: 8px;
}
