@use '../../sass/mixins/outline.scss' as *;

.container {
  display: flex;
  align-items: center;
}

.menuButton {
  // arbitrary value that's big enough for most apps
  max-width: 350px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

// TODO: DRY This from SharedQueryInput.module.scss and tagsbar.module.scss
.search {
  background: var(--ps-immutable-1);
  transition: background-color ease-out 0.1s;
  font: inherit;
  margin-right: 8px;
  border: 1px solid var(--ps-neutral-6);
  width: 300px;

  &,
  &::placeholder {
    color: var(--ps-immutable-4) !important;
  }
}
