.navbar {
  display: flex;
  margin: 10px 0;
  height: 40px;
  align-items: center;
}

/* Give same amount of space between all children */
.navbar > *:not(:first-child):not(:last-child) {
  margin: 0 8px;
}

.space-filler {
  flex-grow: 1;
}

.search {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: background-color ease-out 0.1s;
  margin-right: 8px;
}
.search:focus {
  background: rgba(255, 255, 255, 1);
}

.search-small {
  width: 100px;
}

.fit-mode-select {
  margin: 0 8px;
}

.header-logo {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

.header-logo img {
  display: inline-block;
}

.header-logo span {
  display: inline-block;
}
