.navbar {
  display: flex;
  padding: 0 0 10px 0;
  height: 60px;
  align-items: center;
}

/* Give same amount of space between all children */
.navbar > * {
  margin: 0 8px;
}

.space-filler {
  flex-grow: 1;
}

.search {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: background-color ease-out 0.1s;
  margin-right: 8px;
}
.search:focus {
  background: rgba(255, 255, 255, 1);
}

.search-small {
  width: 100px;
}

.fit-mode-select {
  margin: 0 8px;
}

.visualization-buttons {
  margin: 0;
}
