.navbar {
  display: flex;
  margin: 10px 0;
  height: 40px;
  align-items: center;
}

/* Give same amount of space between all children */
.navbar > *:not(:first-child):not(:last-child) {
  margin: 0 8px;
}

.space-filler {
  flex-grow: 1;
}

.search {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: background-color ease-out 0.1s;
  margin-right: 8px;
}
.search:focus {
  background: rgba(255, 255, 255, 1);
}

.linked-search-input {
  border-right: none !important;
  margin-right: 0 !important;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.linked-search-btn {
  margin-left: 0px !important;
  border: 1px solid #4d4d4d;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  border: 1px solid #4d4d4d;
  border-radius: 4px;
  z-index: 1;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
.linked-search-btn.active {
  margin-left: 0px !important;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ea6460;
  border-radius: 4px;
  z-index: 1;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  color: #ea6460;
}
.linked-search-input.active {
  border: 1px solid #ea6460;
}

.search-small {
  width: 100px;
}

.fit-mode-select {
  margin: 0 8px;
}
