.navbar {
  display: flex;
  padding: 0 0 10px 0;
  height: 60px;
  align-items: center;
}

.space-filler {
  flex-grow: 1;
}

.search {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: background-color ease-out 0.1s;
  &:focus {
    background: rgba(255, 255, 255, 1);
  }
}

.fit-mode-select {
  margin: 0 10px;
}
