.logo {
  margin: 8px;
  margin-left: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logo img + * {
  margin-left: 8px;
}

.logoTextCollapsed {
  display: none;
}

.collapseIcon svg {
  animation: swing ease-in-out 0.5s 1 alternate;
  transition: transform 0.3s;
}

.collapsedIconCollapsed svg {
  transform: rotate(-180deg);
}

.collapsedHeader {
  padding: 10px 0;
  text-align: center;
}
