.logo {
  display: flex;
  align-items: center;
  padding: 11px 0 9.2px 9.2px;
  margin: 0;
}

.logoText {
  color: var(--ps-neutral-2);
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  margin-left: 0;
}

.logoTextCollapsed {
  display: none;
}

.collapseIcon svg {
  animation: swing ease-in-out 0.5s 1 alternate;
  transition: transform 0.3s;
}

.collapsedIconCollapsed svg {
  transform: rotate(-180deg);
}

.collapsedHeader {
  padding: 10px 0;
  text-align: center;
}

/* workaround for exemplars icons
 * since the icons have a padding around it 
 * we have to set a height bigger than normal
 * which makes the whole menuitem bigger
 * hence a max-height
 * */
/* .exemplarsItem [class*='pro-inner-item'] {
  max-height: 49px;
}
.exemplarsItem [class*='pro-icon-wrapper'] {
  margin-left: -9px;
} */
