.logo {
  display: flex;
  align-items: center;
  padding: 11px 0 9.2px 9.2px;
  margin: 0;
}

.logoText {
  color: var(--ps-c-white);
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  margin-left: 0;
}

.logoTextCollapsed {
  display: none;
}

.collapseIcon svg {
  animation: swing ease-in-out 0.5s 1 alternate;
  transition: transform 0.3s;
}

.collapsedIconCollapsed svg {
  transform: rotate(-180deg);
}

.collapsedHeader {
  padding: 10px 0;
  text-align: center;
}
