.tagsSelector {
  width: auto;
  max-width: 70vw;
  min-width: 120px;

  & > div:nth-child(2) div {
    min-width: 150px;
  }
}

.title {
  display: inline-block;
  text-transform: uppercase;
  padding: 5px;
  color: var(--ps-select-modal-title);
  font-weight: 700;
}

.tags {
  max-width: 500px;
  padding: 0;
  list-style: none;
  margin: 0;
  text-align: left;
  min-height: 150px;
  max-height: 440px;

  li {
    &.selected {
      background-color: var(--ps-blue-highlight);
    }

    input {
      border: none;
      padding: 10px 30px;
      max-width: 100%;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.compareButton {
  background-color: var(--ps-blue-highlight);
  border: var(--ps-blue-highlight);
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}
