.statusMessage {
  width: 100%;
}

.success {
  color: white;
  background-color: #28a745;
  padding: 10px;
  margin: 1em 0;
  padding: 1em;
}

.error {
  color: white;
  font-weight: bold;
  background-color: #8a1722;
  margin: 1em 0;
  padding: 1em;
}
