services:
  otel-collector:
    # fixed versions for pyroscope, otel-collector, otel-profiler due to protocol changes
    image: otel/opentelemetry-collector-contrib:0.129.1
    command: ["--config=/etc/otel-collector-config.yaml", "--feature-gates=service.profilesSupport"]
    volumes:
      - ./config/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317"
      - "4318:4318"
    networks:
      - otel-net
    depends_on:
      - pyroscope

  otel-ebpf-profiler:
    build: ..
    command: ["-collection-agent", "otel-collector:4317", "-no-kernel-version-check", "-disable-tls"]
    hostname: ebpf-profiler
    privileged: true
    pid: "host"
    volumes:
      - /sys/kernel/debug:/sys/kernel/debug
      - /sys/fs/cgroup:/sys/fs/cgroup
      - /proc:/proc
    networks:
      - otel-net
    depends_on:
      - otel-collector

  pyroscope:
    # fixed versions for pyroscope, otel-collector, otel-profiler due to protocol changes
    image: grafana/pyroscope:weekly-f125-16eebf27b
    command: ["-self-profiling.disable-push=true"]
    ports:
      - "4040:4040"
    networks:
      - otel-net

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_PLUGINS_PREINSTALL_SYNC=grafana-pyroscope-app
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    volumes:
      - ./grafana-provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
    networks:
      - otel-net

networks:
  otel-net:
    driver: bridge
