.chartTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin-bottom: 5px;

  .colorOrIcon {
    display: inline-block;
    align-self: center;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 2px;

    &.icon {
      height: 20px;
      width: 20px;

      svg {
        vertical-align: initial;
      }
    }
  }

  .title {
    display: flex;
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
  }
}
