.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdownMenuItem {
  display: block;
  clear: both;
  font-weight: normal;
  padding: 4px 16px;
  font-size: 11px;
  line-height: 20px;
  color: var(--ps-neutral-2) !important;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: 0;
  &:hover {
    background-color: var(--ps-ui-element-bg-highlight);
  }
}

.menuShow {
  display: flex;
  min-width: 180px;
  position: absolute;
  right: 0;
  z-index: 1000;
  flex-direction: column;
  border: 1px solid var(--ps-ui-border);
  box-shadow: 0px 5px 10px var(--ps-dropdown-shadow);
  background-color: var(--ps-dropdown-background);
  color: var(--ps-neutral-1);
}

.menuHide {
  display: none;
}

.toggleMenuButton {
  height: 37px;
  padding: 0;
  margin-left: 2px;
  margin-top: 0px;
  border-color: transparent;
  background-color: transparent;
  min-width: auto;
  width: 40px;

  svg {
    width: auto !important;
    height: 18px;
    // margin-top: 4px;
  }
}
