services:
  pyroscope:
    image: grafana/pyroscope
    ports:
    - 4040:4040
  app-glibc:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
  app-musl:
    platform: linux/amd64
    build:
      context: .
      dockerfile: musl.Dockerfile
  grafana:
    image: grafana/grafana:latest
    environment:
    - GF_INSTALL_PLUGINS=grafana-pyroscope-app
    - GF_AUTH_ANONYMOUS_ENABLED=true
    - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    - GF_AUTH_DISABLE_LOGIN_FORM=true
    volumes:
    - ./grafana-provisioning:/etc/grafana/provisioning
    ports:
    - 3000:3000
