.tooltip {
  width: 420px;
  position: fixed;
  background: var(--ps-tooltip-bg);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: var(--ps-tooltip-text);
  font-size: 12px;
  visibility: hidden;
  z-index: 2;
  pointer-events: none;

  &.flamegraphDiffTooltip {
    width: 450px;
  }

  .tooltipName {
    color: var(--ps-tooltip-text);
    background-color: var(--ps-tooltip-header-bg);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 10px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  }

  .functionName {
    padding: 8px 10px 0;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

    white-space: break-spaces;
    word-break: break-all;
  }

  .tooltipTable {
    width: calc(100% - 10px * 2);
    margin: 10px;
    display: table; /* although this is the default, users may have an overwrite */

    th,
    td {
      background-color: var(--ps-tooltip-bg);
      border: 1px solid var(--ps-tooltip-header-bg);
      padding: 5px;
      font-weight: normal;
    }
  }

  .clickInfo {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color: var(--ps-right-click-info);

    svg {
      color: initial;
      display: block;
      align-self: center;
      width: 22px;
      height: 22px;
      margin-right: 5px;
    }

    span {
      font-size: 14px;
    }
  }
}
