.flamegraphContainer {
  width: 100%;
}

/* We take a gamble here and assume only 2 items will exist */
.flamegraphContainer > *:first-child {
  margin-right: 8px;
}
.flamegraphContainer > *:nth-child(2) {
  margin-left: 8px;
  /*  width: 50%; */
}

.createdBy {
  color: white;
  text-align: center;
  margin: 10px 0;
}
.createdBy a {
  color: #199bef !important;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  /* reverse, since by default the table is on the left in the DOM */
  flex-direction: column-reverse;
}

.panesWrapper {
  display: flex;
}

.tablePane,
.sandwichPane {
  flex: 1;
}

.sandwichPane {
  .sandwichPaneInfo {
    display: inline-block;
    position: relative;
    margin: 30px 0 0 10px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--ps-sandwich-pane-info-bg);
    color: var(--ps-neutral-1);

    &::before {
      content: '◀';
      color: var(--ps-sandwich-pane-info-bg);
      left: -14px;
      top: 3px;
      font-size: 22px;
      position: absolute;
      height: 100%;
    }
  }

  .sandwichTop {
    margin-bottom: 10px;
  }

  .sandwichTop,
  .sandwichBottom {
    display: flex;

    .name {
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
      padding: 5px 0;
    }
  }

  .sandwichBottom span {
    text-align: right;
  }
}
