target
third_party/*/target
webapp/public/*
node_modules
.git/
tmp

benchmark/Dockerfile
benchmark/runs
benchmark/docker-compose.yml
benchmark/grafana-*
benchmark/node_modules
benchmark/*.env

third_party/bcc/lib
third_party/bcc/src
third_party/libbpf/lib
third_party/libbpf/src
pkg/agent/ebpfspy/bpf/profile.bpf.o
pkg/agent/ebpfspy/bpf/vmlinux.h
