.box {
  background-color: var(--ps-ui-foreground);
  border: 1px solid var(--ps-ui-border);
  border-radius: 4px;

  position: relative;
}

.padding {
  margin-bottom: 10px;
  padding: 10px;
}

.collapseBox {
  @extend .box;
  margin-bottom: 10px;

  .box {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding-bottom: 0;
    height: auto;

    &.collapsedContent {
      height: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
}

.collapseTitle {
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  &:hover {
    background-color: var(--ps-ui-border);
  }
}

.collapseIcon {
  display: flex;
  transition: transform 0.1s;

  &.collapsed {
    transform: rotate(90deg);
    display: flex;
  }
}
