name: Backport PR Creator
on:
  pull_request:
    types:
      - closed
      - labeled

jobs:
  main:
    # We don't run the backporting for PRs from forks because those can't access "pyroscope-development-app" secrets in vault.
    # We don't use GitHub actions app (secrets.GITHUB_TOKEN) because PRs created by the bot don't trigger CI.
    # Also only run if the PR is merged, as an extra safe-guard.
    if: ${{ ! github.event.pull_request.head.repo.fork && github.event.pull_request.merged == true }}

    runs-on: ${{ github.repository_owner == 'grafana' && 'ubuntu-x64-small' || 'ubuntu-latest' }}
    permissions:
      contents: "read"
      id-token: "write"
      pull-requests: "write"
    steps:
      - name: Checkout Actions
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          repository: "grafana/grafana-github-actions"
          persist-credentials: false
          path: ./actions
          ref: 066cbcd084b61558d99d13c76f835c49e31b4670

      - name: Install Actions
        run: npm install --production --prefix ./actions

      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@eb33f84481d38701f4d2c587a4817ce332784f5f
        with:
          repo_secrets: |
            GITHUB_APP_ID=pyroscope-development-app:app-id
            GITHUB_APP_PRIVATE_KEY=pyroscope-development-app:private-key

      - name: Generate token
        id: app-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ env.GITHUB_APP_ID }}
          private-key: ${{ env.GITHUB_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            pyroscope

      - name: Run backport
        uses: ./actions/backport
        with:
          token: ${{ steps.app-token.outputs.token }}
          labelsToAdd: backport
          # The provided token needs read permissions for organization members if you want to remove the default reviewers.
          removeDefaultReviewers: false
          title: "[{{base}}] {{originalTitle}}"
