name: Cypress Tests for Grafana Datasource Plugin

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  cypress-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.17'
      - run: yarn
      - run: yarn build:datasource
        env:
          PYROSCOPE_PANEL_VERSION: test
      - name: run grafana
        run: docker-compose -f grafana-plugin/datasource/docker-compose.yml up -d
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          config-file: grafana-plugin/datasource/cypress.json
          wait-on: http://localhost:3000
          start: make server
        env:
          CYPRESS_VIDEO: true
          CYPRESS_COMPARE_SNAPSHOTS: true
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress-snapshots
          path: cypress/snapshots
