name: e2e
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  # Cancel any running workflow for the same branch when new commits are pushed.
  # We group both by ref_name (available when CI is triggered by a push to a branch/tag)
  # and head_ref (available when CI is triggered by a PR).
  group: "e2e-${{ github.ref_name }}-${{ github.head_ref }}"
  cancel-in-progress: true

jobs:
  regular-path:
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: lts/hydrogen
          cache: yarn
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.11"
          cache: true
      - name: Install node-canvas
        run: sudo apt-get update && sudo apt-get install build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
      - run: make build
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          wait-on: http://localhost:4040/ready
          start: make run
          config-file: cypress/ci.ts
        env:
          ELECTRON_ENABLE_LOGGING: 1
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: regular-path-cypress-screenshots
          path: cypress/screenshots

  base-path:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: lts/hydrogen
          cache: yarn
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.11"
          cache: true
      - name: Install node-canvas
        run: sudo apt-get update && sudo apt-get install build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
      - run: make build
      - name: run nginx with /foobar/
        run: docker compose -f scripts/base-url/docker-compose.yaml up -d
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          wait-on: http://localhost:8080/foobar/ready
          start: |
            make run PARAMS=-api.base-url=/foobar/
          config-file: cypress/ci-base-path.ts
        env:
          ELECTRON_ENABLE_LOGGING: 1
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: base-path-cypress-screenshots
          path: cypress/screenshots
