name: go/fuzz
on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * 1-5' # Run every weekday at midnight
permissions:
  contents: read
jobs:
  go-fuzz-merge-single:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: 'false'
      - name: Install Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: 1.23.11
      - name: Run Fuzz_Merge_Single
        run: go test -fuzz=Fuzz_Merge_Single --fuzztime 1h -run '^$' -v ./pkg/pprof/
