name: Go Linting

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  go-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run revive action
        uses: petethepig/revive-action@v5
        with:
          config: revive.toml
          # same as in the `lint` rule of Makefile
          exclude: 'vendor/...;./pkg/agent/pprof/...'
