name: publish-technical-documentation-next

permissions: {}

on:
  push:
    branches:
      - main
    paths:
      - "docs/sources/**"
  workflow_dispatch:
jobs:
  sync:
    if: github.repository == 'grafana/pyroscope'
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-x64-small
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: grafana/writers-toolkit/publish-technical-documentation@cbf55295306306a843cde714efdd5a399d5b743e
        with:
          website_directory: content/docs/pyroscope/next
