name: publish-technical-documentation-release

permissions: {}

on:
  push:
    branches:
    - "release/v[0-9]+.[0-9]+"
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"
    paths:
    - "docs/sources/**"
  workflow_dispatch:
jobs:
  sync:
    if: github.repository == 'grafana/pyroscope'
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-x64-small
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: grafana/writers-toolkit/publish-technical-documentation-release@cbf55295306306a843cde714efdd5a399d5b743e
        with:
          release_tag_regexp: "^v(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)$"
          release_branch_regexp: "^release/v(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)$"
          release_branch_with_patch_regexp: "^release/v(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)$"
          website_directory: content/docs/pyroscope
