name: goreleaser

on:
  push:
    # run only against tags
    tags:
      - "v*"
      # do not run for weekly release tags
      - "!v0.0.0-weekly*"

permissions:
  contents: write
  packages: write
  id-token: write
  # issues: write

jobs:
  goreleaser:
    runs-on: ubuntu-x64-large
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: 'false'
      - name: Set GIT_LAST_COMMIT_DATE
        run: echo "GIT_LAST_COMMIT_DATE=$(git log -1 --date=iso-strict --format=%cd)" >> $GITHUB_ENV
      # Forces goreleaser to use the correct previous tag for the changelog
      - name: Set GORELEASER_PREVIOUS_TAG
        run: echo "GORELEASER_PREVIOUS_TAG=$(git tag -l --sort=-version:refname | grep -E '^v.*' | head -n 2 | tail -1)" >> $GITHUB_ENV
      - run: git fetch --force --tags
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: "1.24.6"
          cache: false
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20
          cache: false
      # setup docker buildx
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
      # login to docker hub
      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@28361cdb22223e5f1e34358c86c20908e7248760
        with:
          common_secrets: |
            DOCKERHUB_USERNAME=dockerhub:username
            DOCKERHUB_PASSWORD=dockerhub:password
          repo_secrets: |
            GRAFANA_PYROSCOPE_BOT_APP_APP_ID=grafana-pyroscope-bot:app-id
            GRAFANA_PYROSCOPE_BOT_APP_PRIVATE_KEY=grafana-pyroscope-bot:app-private-key
      - name: Get github app token (valid for an hour)
        id: brew-token
        uses: actions/create-github-app-token@3ff1caaa28b64c9cc276ce0a02e2ff584f3900c5 # v2.0.2
        with:
          app-id: ${{ env.GRAFANA_PYROSCOPE_BOT_APP_APP_ID }}
          private-key: ${{ env.GRAFANA_PYROSCOPE_BOT_APP_PRIVATE_KEY }}
          owner: pyroscope-io
          repositories: homebrew-brew
      - uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2
        name: Login to Docker Hub
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_PASSWORD }}
      - run: make frontend/build
      - uses: goreleaser/goreleaser-action@9c156ee8a17a598857849441385a2041ef570552 # v6.3.0
        with:
          # ensure this aligns with the version specified in the /Makefile
          version: v2.7.0
          args: release --clean --timeout 60m
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # make generate-formulas expects PYROSCOPE_TAG to be set
      - name: Set PYROSCOPE_TAG
        run: echo "PYROSCOPE_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Update homebrew formulas
        run: |
          git config --global url."https://x-access-token:$(echo "${HOMEBREW_GITHUB_TOKEN}" | xargs)@github.com/pyroscope-io/homebrew-brew".insteadOf "https://github.com/pyroscope-io/homebrew-brew" 2> /dev/null
          git config --global user.email "dmitry+bot@pyroscope.io"
          git config --global user.name "Pyroscope Bot <dmitry+bot@pyroscope.io>"
          git clone https://github.com/pyroscope-io/homebrew-brew ../homebrew-brew
          cd ../homebrew-brew
          make generate-formulas && git add Formula && git commit -m "chore: update formulas" && git push origin main
        env:
          HOMEBREW_GITHUB_TOKEN: ${{ steps.brew-token.outputs.token }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
