name: Validate Renovate config

on:
  push:
    branches:
      - main
    paths:
      - 'renovate.json'
      - '.github/workflows/renovate-config-validator.yml'

  pull_request:
    paths:
      - 'renovate.json'
      - '.github/workflows/renovate-config-validator.yml'

permissions:
  contents: read

jobs:
  validate:
    runs-on: ${{ github.repository_owner == 'grafana' && 'ubuntu-x64-small' || 'ubuntu-latest' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false

      - name: Validate Renovate Config
        uses: grafana/shared-workflows/actions/validate-renovate-config@051f0a1cef0e1ef9f92fbe57c65b1eec029c3904 # validate-renovate-config/v0.1.1
