name: ci ebpf
on:
  push:
    branches:
      - main
      - r[0-9]+ # Trigger builds after a push to weekly branches
    paths:
      - ebpf/**
  pull_request:

concurrency:
  # Cancel any running workflow for the same branch when new commits are pushed.
  # We group both by ref_name (available when CI is triggered by a push to a branch/tag)
  # and head_ref (available when CI is triggered by a PR).
  group: "${{ github.ref_name }}-${{ github.head_ref }}"
  cancel-in-progress: true

jobs:
  test_ebpf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.3
      - name: Test
        run: sudo make -C ./ebpf go/test
#      - name: Install qemu
#        run: sudo apt-get -y install qemu-system-x86
#      - name: Test
#        run: EBPF_RUN_IN_VM=1 make -C ./ebpf go/test_ebpf
