name: Test Examples
on:
  workflow_dispatch:
  # TODO: consider cronjob to run this at night
  push:  # THIS SHOULD BE REMOVED BEFORE MERGE
    branches:
      - 20241212_testing-examples

concurrency:
  # Cancel any running workflow for the same branch when new commits are pushed.
  # We group both by ref_name (available when CI is triggered by a push to a branch/tag)
  # and head_ref (available when CI is triggered by a PR).
  group: "${{ github.ref_name }}-${{ github.head_ref }}"
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.10
      - name: Run tests
        run: make examples/test
