name: Update `make docs` procedure

permissions: {}

on:
  schedule:
    - cron: '0 7 * * 1-5'
  workflow_dispatch:
jobs:
  main:
    if: github.repository == 'grafana/pyroscope'
    runs-on: ubuntu-x64-small
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: grafana/writers-toolkit/update-make-docs@9ccaaf1f78c5c045229e7088e816925311c67abc
        with:
          pr_options: >
            --label type/docs
          trace: true
